@mixin Index() {
    $color-gray: #7f5f43;
    $color-black: #d3a53f;
    $stripe-height: 7px;
    $btn-color: $color-gray;
    $btn-background: #efefef;
    $btn-color-hover: #ffffff;
    $btn-background-hover: $color-gray;
    $border-color: $color-gray;
    $border-color-hover: $color-black;
    // 切板完成
    .index {
        .Nav {
            width: 100%;
            display: flex;
            justify-content: space-between;
            @media (max-width: 768px) {
                justify-items: flex-end;
            }

            .Logo-pic {
                width: 45%;
                @media (max-width: 768px) {
                    width: 85%;
                    position: absolute;
                    top: 30%;
                    left: 20%;
                    transform: translate(-30%, -20%);
                }
            }
            .left-group {
                width: 55%;
                @media (max-width: 768px) {
                    position: absolute;
                    right: 1%;
                }
                @media (max-width: 320px) {
                    width: 100%;
                }
                .Menu-group {
                    width: 100%;
                    margin-right: 30px;
                    text-align: center;
                    font-size: $fon20;
                    font-weight: 540;
                    display: flex;
                    justify-items: flex-end;
                    padding-top: 20px;
                    padding-bottom: 20px;

                    text-transform: uppercase;
                    text-rendering: optimizeLegibility;
                    @media (max-width: 768px) {
                        font-size: $fon18;
                    }
                    @media (max-width: 320px) {
                        font-size: $fon14;
                    }
                    .index-btn {
                        width: 100%;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    @keyframes stripe-slide {
                        0% {
                            background-position: 0% 0;
                        }
                        100% {
                            background-position: 100% 0;
                        }
                    }
                    .btn {
                        overflow: visible;
                        margin: 0;
                        padding: 0;
                        border: 0;
                        background: transparent;

                        line-height: calc(50px);
                        cursor: pointer;
                        -moz-user-select: text;

                        &:-moz-focus-inner {
                            padding: 0;
                            border: 0;
                        }

                        display: block;
                        text-decoration: none;
                        text-transform: uppercase;
                        padding: 5px;
                        margin: 0 5px;
                        background-color: $btn-background;
                        color: $btn-color;
                        font-weight: 540;
                        border: 2px solid $border-color;
                        border-radius: 10px;
                        transition: all 0.5s ease;
                        @media (max-width: 768px) {
                            border-radius: 30px;
                        }
                        &--stripe {
                            overflow: hidden;
                            position: relative;

                            &:after {
                                content: "";
                                display: block;
                                height: $stripe-height;
                                width: 100%;
                                background-image: repeating-linear-gradient(
                                    45deg,
                                    $border-color,
                                    $border-color 1px,
                                    transparent 2px,
                                    transparent 5px
                                );

                                backface-visibility: hidden;
                                border-top: 1px solid $border-color;
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                background-size: $stripe-height $stripe-height;
                            }

                            &:hover {
                                background-color: $btn-background-hover;
                                color: $btn-color-hover;
                                border-color: $border-color-hover;

                                &:after {
                                    background-image: repeating-linear-gradient(
                                        45deg,
                                        $btn-color-hover,
                                        $btn-color-hover 1px,
                                        transparent 2px,
                                        transparent 5px
                                    );
                                    border-top: 1px solid $border-color-hover;
                                    animation: stripe-slide 12s infinite linear forwards;
                                }
                            }
                        }
                    }
                }
                .cloud-group {
                    position: relative;
                    width: 100%;
                    display: flex;

                    .cloud {
                        position: absolute;
                    }
                    .cloud01 {
                        width: 20%;

                        right: 60%;
                        top: 150px;
                        @media (max-width: 768px) {
                            width: 30%;
                            right: 42%;
                            top: 165px;
                        }
                    }
                    .cloud03 {
                        display: none;
                        width: 50%;
                        right: 30%;
                        top: 200px;
                        @media (max-width: 768px) {
                            display: block;
                        }
                    }
                    .cloud02 {
                        width: 20%;
                        right: 30%;
                        top: 300px;
                        @media (max-width: 768px) {
                            width: 28%;
                            right: 25%;
                            top: 300px;
                        }
                    }
                }
            }
        }
        .big-img {
            position: absolute;
            bottom: 0;
            z-index: -1;
            background-image: url("../img/主頁背景/主頁背景-降_工作區域\ 1.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: flex-end;
            // 狗狗向右走
            overflow: hidden;
            .img-group {
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0px;
                overflow: hidden;
                white-space: nowrap;
                animation: bannermove 15s linear infinite;
                z-index: 10;
                .img-dog {
                    width: 10%;
                    font-size: 70px;
                    background-image: url("../img/插圖/狗狗兒.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;                   
                }
                .img-group .img-dog {
                    margin: 0 0.5em;
                }
            }
        }
        @keyframes bannermove {
            0% {
                transform: translate(0, 0);
            }

            100% {
                transform: translate(100%, 0);
            }
        }
        // 狗狗向右走
    }
}
