
@mixin contain() {
    margin: auto;
    width: 1280px;

    @media (max-width: 1280px) {
        width: 1140px;
    }
    @media (max-width: 1140px) {
        width: 960px;
    }
    @media (max-width: 960px) {
        width: 100%;
    }
}