@import "./TenDrum";
$fon48: 48px;
$fon46: 46px;
$fon42: 42px;
$fon36: 36px;
$fon32: 32px;
$fon30: 30px;
$fon24: 24px;
$fon20: 20px;
$fon18: 18px;
$fon16: 16px;
$fon14: 14px;

body {
    
    overflow-x: hidden;
  }
.bg {
    position: absolute;
    left: 0;
    top: 0;
    background: url() center center no-repeat;
    background-size: cover;
  }
  
  .smoke,
  .smoke-bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    
    background-image: url('../img/主頁背景/cloud_PNG4.png');
    z-index: -4;
    background-size: cover;
  }
  
  .smoke-bg {
    
    background-image: url('../img/主頁背景/sport-smoke.png');
    z-index: -5;
  }
  
  .smoke {
    animation: float2 15s infinite ease-in-out;
  }
  
  .smoke-bg {
    animation: float alternate 30s infinite ease-in-out;
  }
  
  @keyframes float {
    0% {
      opacity: 0.8;
      transform: translateX(3%) scale(1.2);
    }
    50% {
      opacity: 0.8;
      transform: translateX(0) scale(1.4);
    }
    100% {
      opacity: 0.8;
      transform: translateX(-3%) scale(1.2);
    }
  }
  @keyframes float2 {
    0% {
      opacity: 0;
      transform: translateX(-10%) scale(1.5);
    }
    50% {
      opacity: 1;
      transform: translateX(0) scale(1.2);
    }
    100% {
      opacity: 0;
      transform: translateX(10%) scale(1.5);
    }
  }
.New-bg{
    width: 100%;
    height: 100vh;    
    background-image: url("../img/主頁背景/news-降_工作區域\ 1.jpg");
    position: fixed;
    z-index: -6;  
}
.New {
    width: 100%;
    height: 100vh;
    display: flex;    
    @media (max-width: 1280px) {
    }
    @media (max-width: 1024px) {
        height: auto;
    }
    @media (max-width: 768px) {
    }
    @media (max-width: 400px) {
    }

    // 左邊清單 切板完成
    .new-title {
        margin-top: 5%;
        margin-left: 10px;
        padding: 25px;
        width: 20%;
        .new-title-all {
            font-size: 54px;
            font-weight: bold;
            margin-bottom: 60px;
            color: #673a1b;
            @media (max-width: 1280px) {
                font-size: $fon48;
            }
            @media (max-width: 1024px) {
                font-size: $fon46;
            }
            @media (max-width: 768px) {
                font-size: $fon42;
                margin-bottom: 30px;
            }
            @media (max-width: 400px) {
                font-size: $fon24;
            }
        }
        .new-title01 {
            margin-top: 10%;
            padding-left: 10px;
            font-size: $fon36;
            color: #b15821;
            border-bottom: 1px solid #b15821;
            &:hover {
                cursor: pointer;
            }
            @media (max-width: 1280px) {
                font-size: $fon32;
            }
            @media (max-width: 1024px) {
                font-size: $fon30;
            }
            @media (max-width: 768px) {
                font-size: $fon24;
            }
            @media (max-width: 400px) {
                font-size: $fon20;
            }
        }
        .act {
            border-bottom: none;
            color: #231815;
        }
    }
    // 左邊清單
    // 消息內容
    .new-contexts {
        width: 80%;
        height: 100%;
        .new-context {
            display: none;
            height: 100%;
            width: 80%;
            .new-contain {
                width: 100%;
                height: 100%;
                margin: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                .fas.fa-circle {
                    font-size: 12px;
                    line-height: 100px;
                    color: #0b6c6d;
                    padding: 0 5px;
                    margin-top: 5%;
                }
                .new-context-title {
                    width: 50%;
                    margin-bottom: 5%;
                    font-size: $fon36;
                    font-weight: bold;
                    color: #3e3a39;
                    text-align: center;
                    border-bottom: 1px solid #727171;
                    margin-top: 5%;
                    height: 50px;
                    @media (max-width: 1280px) {
                        font-size: $fon32;
                    }

                    @media (max-width: 1024px) {
                        font-size: $fon30;
                    }

                    @media (max-width: 768px) {
                        font-size: $fon24;
                    }

                    @media (max-width: 400px) {
                        font-size: $fon20;
                    }
                }
                .new-context-group {
                    width: 100%;
                    height: 75%;
                    padding: 0 30px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    .col-md-12,
                    .col-lg-4 {
                        padding-left: 0;
                        padding-right: 0;
                    }
                    .news {
                        height: 80%;
                        padding: 37px;
                        margin: 1%;
                        background-color: rgba($color: #40220f, $alpha: 0.55);
                        border-radius: 30px;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        position: relative;
                        .new-imgs {
                            width: 100%;
                            height: 50%;
                            display: flex;
                            justify-content: center;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                            @media (max-width: 1024px) {
                                height: 80%;
                            }
                        }
                        .new-img-01 {
                            background-image: url("../img/最新消息/01.工作區/最新消息_工作區域\ 1.jpg");
                        }
                        .new-img-02 {
                            background-image: url("../img/最新消息/01.工作區/最新消息-02.jpg");
                        }
                        .new-img-03 {
                            background-image: url("../img/最新消息/01.工作區/最新消息_工作區域\ 1.jpg");
                        }
                        .new-img-04 {
                            background-image: url("../img/最新消息/01.工作區/最新消息-04.jpg");
                        }
                        .new-img-05 {
                            background-image: url("../img/最新消息/01.工作區/最新消息-03-04.jpg");
                        }
                        .new-img-06 {
                            background-image: url("../img/最新消息/01.工作區/最新消息-04.jpg");
                        }
                        .new-text {
                            width: 100%;
                            height: 50%;
                            color: #ffffff;
                            text-align: left;
                        }
                        .new-time {
                            width: 100%;
                            margin-bottom: 10px;
                            font-size: $fon18;
                            font-family: "Fredericka the Great", cursive;
                            @media (max-width: 1280px) {
                                font-size: $fon16;
                            }
                            @media (max-width: 768px) {
                                font-size: $fon14;
                            }
                        }
                        .new-name {
                            width: 100%;
                            height: 30%;
                            font-size: $fon24;
                            @media (max-width: 1280px) {
                                font-size: $fon20;
                            }
                            @media (max-width: 1024px) {
                                font-size: $fon18;
                            }
                            @media (max-width: 768px) {
                                font-size: $fon16;
                            }
                        }

                        .new-more {
                            position: absolute;
                            right: 37px;
                            bottom: 37px;
                            width: 30%;
                            font-family: "Fredericka the Great", cursive;
                            font-size: $fon20;
                            color: #f7f8f8;
                            background: #d4a63f;
                            border-radius: 10px;
                            text-align: center;
                            height: 30px;
                            line-height: 30px;

                            letter-spacing: 3px;
                            @media (max-width: 1280px) {
                                font-size: $fon18;
                                right: 25px;
                                bottom: 25px;
                            }
                            @media (max-width: 1024px) {
                                font-size: $fon16;
                                width: 20%;
                                right: 15px;
                                bottom: 15px;
                            }
                            @media (max-width: 768px) {
                                font-size: $fon14;
                                right: 10px;
                                bottom: 10px;
                            }

                            &:hover {
                                cursor: pointer;
                                letter-spacing: 5px;
                                transition: 0.5s;
                            }
                        }
                    }
                }
            }
        }
        .actt {
            display: block;
        }
    }
    // 消息內容
}
footer {
    position: absolute;
    bottom: 0;
}
