$fon48: 48px;
$fon46: 46px;
$fon42: 42px;
$fon36: 36px;
$fon32: 32px;
$fon30: 30px;
$fon24: 24px;
$fon20: 20px;
$fon18: 18px;
$fon16: 16px;
$fon14: 14px;
.Facility {
    width: 100%;
    min-height: calc(100vh - 30px);
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    background-color: #eab854;
    opacity: 0.8;
}
.bag-img {
    position: absolute;
    width: 100%;
    height: 90vh;
    background-image: url("./img/插圖/雙飛飛人.png");
    background-repeat: no-repeat;
}

.facility-title {
    width: 15%;
    height: 80px;
    font-size: 54px;
    text-align: center;
    color: #f7f8f8;
    border-bottom: 2px solid #f7f8f8;
    @media (max-width: 1280px) {
          font-size: $fon48;      
    }
    @media (max-width: 1024px) {
       font-size: $fon42;
    }
    @media (max-width: 768px) {
        font-size: $fon36;
    }
    @media (max-width: 400px) {
        font-size: $fon24;
    }
}
.img-groups {
    width: 85%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
.cell {
    display: inline-block;
    width: 30%;
    text-align: center;
    color: rgba(225, 225, 225, 0.5);
    position: relative;    
    @media (max-width: 1024px) {
    width: 50%;       
    }
    @media (max-width: 768px) {
    width: 100%;
        
    }
    
}
.circle01 {
    background-image: url("../img/設施/飛天宅急便-正方形.png");
}

.circle02 {
    background-image: url("../img/設施/鋼鐵雷戰-正方形.png");
}
.circle03 {
    background-image: url("../img/設施/蜘蛛人-正方形.png");
}
.circle04 {
    background-image: url("../img/設施//天堂上的鞦韆-正方形.png");
}
.circle05 {
    background-image: url("../img/設施/煙囪滑梯-正方形_.png");
}
.circle06 {
    background-image: url("../img/設施/糖精落體-正方形.png");
}

.circle {
    display: inline-block;
    width: 300px;
    height: 300px;
    border-radius: 50%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 4px -40px 60px 5px inset;
    @media (max-width: 1280px) {
        width: 200px;
        height: 200px;
    }
    @media (max-width: 1024px) {
        width: 150px;
        height: 150px;
    }    
}
/*// General styles */

.gelatine {
    animation: gelatine 2s infinite;
    /* cursor: pointer; */
    position: relative;
}

@keyframes gelatine {
    from,
    to {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.95, 1.05);
    }

    50% {
        transform: scale(1.05, 0.95);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}
.btn.btn-img {
    position: absolute;
    z-index: 2;
    left: 20%;
    bottom: 25%;
    width: 40%;
    height: 90px;
    font-size: $fon24;
    text-align: center;
    line-height: 90px;
    @media (max-width: 1280px) {
           font-size: $fon20;     
    }
    @media (max-width: 1024px) {
       font-size: $fon18;
    }
    @media (max-width: 768px) {
        width: 30%;
        font-size: $fon16;
    }
    @media (max-width: 400px) {
        font-size: $fon14;
        
    }
}

.btn-img {
    background-image: url("../img/設施/設施體驗的雲2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.body-bac {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.modal-content01 {
    background-image: url("../img/設施/飛天宅急便hover02_工作區域\ 1.png");
}
.modal-content02 {
    background-image: url("../img/設施/鋼鐵雷戰hover.png");
}
.modal-content03 {
    background-image: url("../img/設施/蜘蛛人hover02_工作區域\ 1.png");
}
.modal-content04 {
    background-image: url("../img/設施/天堂上的鞦韆hover02_工作區域\ 1.png");
}
.modal-content05 {
    background-image: url("../img/設施/煙囪滑梯hover01_工作區域\ 1.png");
}
.modal-content06 {
    background-image: url("../img/設施/糖精落體hover.png");
}
