@charset "UTF-8";
.Facility {
  width: 100%;
  min-height: calc(100vh - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  background-color: #eab854;
  opacity: 0.8;
}

.Facility .bag-img {
  position: absolute;
  width: 100%;
  height: 90vh;
  background-image: url("./img/插圖/雙飛飛人.png");
  background-repeat: no-repeat;
}

.Facility .margin-use {
  width: 8%;
}

.Facility .facility-title {
  width: 15%;
  height: 80px;
  font-size: 54px;
  text-align: center;
  color: #f7f8f8;
  border-bottom: 2px solid #f7f8f8;
}

.Facility .img-groups {
  width: 70%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*// General styles */
}

.Facility .img-groups .cell {
  display: inline-block;
  width: 30%;
  text-align: center;
  color: rgba(225, 225, 225, 0.5);
  position: relative;
}

.Facility .img-groups .circle01 {
  background-image: url("../img/設施/飛天宅急便-正方形.png");
}

.Facility .img-groups .circle02 {
  background-image: url("../img/設施/鋼鐵雷戰-正方形.png");
}

.Facility .img-groups .circle03 {
  background-image: url("../img/設施/蜘蛛人-正方形.png");
}

.Facility .img-groups .circle04 {
  background-image: url("../img/設施//天堂上的鞦韆-正方形.png");
}

.Facility .img-groups .circle05 {
  background-image: url("../img/設施/煙囪滑梯-正方形_.png");
}

.Facility .img-groups .circle06 {
  background-image: url("../img/設施/糖精落體-正方形.png");
}

.Facility .img-groups .circle {
  display: inline-block;
  width: 275px;
  height: 275px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 4px -40px 60px 5px inset;
          box-shadow: 4px -40px 60px 5px inset;
}

.Facility .img-groups .gelatine {
  -webkit-animation: gelatine 2s infinite;
          animation: gelatine 2s infinite;
  /* cursor: pointer; */
  position: relative;
}

@-webkit-keyframes gelatine {
  from,
  to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.95, 1.05);
            transform: scale(0.95, 1.05);
  }
  50% {
    -webkit-transform: scale(1.05, 0.95);
            transform: scale(1.05, 0.95);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
            transform: scale(0.95, 1.05);
  }
}

@keyframes gelatine {
  from,
  to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.95, 1.05);
            transform: scale(0.95, 1.05);
  }
  50% {
    -webkit-transform: scale(1.05, 0.95);
            transform: scale(1.05, 0.95);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
            transform: scale(0.95, 1.05);
  }
}

.Facility .img-groups .btn {
  position: absolute;
  left: 50px;
  bottom: 150px;
  width: 200px;
  height: 90px;
}

.Facility .img-groups .btn-img {
  background-image: url("../img/設施/設施體驗的雲2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-content01 {
  background-image: url("../img/設施/飛天宅急便hover.png");
}

.modal-content02 {
  background-image: url("../img/設施/鋼鐵雷戰hover.png");
}

.modal-content03 {
  background-image: url("../img/設施/蜘蛛人hover.png");
}

.modal-content04 {
  background-image: url("../img/設施/天堂上的鞦韆hover.png");
}

.modal-content05 {
  background-image: url("../img/設施/煙囪滑梯hover.png");
}

.modal-content06 {
  background-image: url("../img/設施/糖精落體hover.png");
}

.modal-content {
  width: 100%;
  height: 100%;
  background-color: unset;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  border: unset;
}

.modal-header {
  border: unset;
}

.close {
  color: #d4a63f;
  font-size: 60px;
}

.modal-body {
  width: 85%;
  background-color: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.F-wrap-l {
  width: 50%;
  margin-left: 30%;
}

.F-wrap-r {
  width: 50%;
  padding: 20px;
}

.F-title {
  width: 100%;
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 18px;
}

.f-text {
  width: 100%;
  font-size: 20px;
}

.f-coin {
  margin-top: 18px;
}
/*# sourceMappingURL=C-Facility.css.map */