@charset "UTF-8";
.Facility {
  width: 100%;
  min-height: calc(100vh - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  background-image: url("../img/設施/設施背景_工作區域 1.png");
  background-position: center;
  z-index: 0;
}

.bag-img {
  position: absolute;
  width: 100%;
  height: 90vh;
  z-index: 1;
}

.facility-title {
  width: 15%;
  height: 80px;
  font-size: 54px;
  text-align: center;
}

@media (max-width: 1280px) {
  .facility-title {
    font-size: 48px;
  }
}

@media (max-width: 1024px) {
  .facility-title {
    font-size: 42px;
  }
}

@media (max-width: 768px) {
  .facility-title {
    font-size: 36px;
  }
}

@media (max-width: 400px) {
  .facility-title {
    font-size: 24px;
  }
}

.img-groups {
  width: 85%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cell {
  display: inline-block;
  width: 30%;
  text-align: center;
  color: rgba(225, 225, 225, 0.5);
  position: relative;
}

@media (max-width: 1024px) {
  .cell {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .cell {
    width: 100%;
  }
}

.circle01 {
  background-image: url("../img/設施/飛天宅急便-正方形.png");
}

.circle02 {
  background-image: url("../img/設施/鋼鐵雷戰-正方形.png");
}

.circle03 {
  background-image: url("../img/設施/蜘蛛人-正方形.png");
}

.circle04 {
  background-image: url("../img/設施//天堂上的鞦韆-正方形.png");
}

.circle05 {
  background-image: url("../img/設施/煙囪滑梯-正方形_.png");
}

.circle06 {
  background-image: url("../img/設施/糖精落體-正方形.png");
}

.circle {
  display: inline-block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 4px -40px 60px 5px inset;
          box-shadow: 4px -40px 60px 5px inset;
}

@media (max-width: 1280px) {
  .circle {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 1024px) {
  .circle {
    width: 150px;
    height: 150px;
  }
}

/*// General styles */
.gelatine {
  -webkit-animation: gelatine 2s infinite;
          animation: gelatine 2s infinite;
  /* cursor: pointer; */
  position: relative;
}

@-webkit-keyframes gelatine {
  from,
  to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.95, 1.05);
            transform: scale(0.95, 1.05);
  }
  50% {
    -webkit-transform: scale(1.05, 0.95);
            transform: scale(1.05, 0.95);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
            transform: scale(0.95, 1.05);
  }
}

@keyframes gelatine {
  from,
  to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.95, 1.05);
            transform: scale(0.95, 1.05);
  }
  50% {
    -webkit-transform: scale(1.05, 0.95);
            transform: scale(1.05, 0.95);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
            transform: scale(0.95, 1.05);
  }
}

.btn.btn-img {
  position: absolute;
  z-index: 2;
  left: 20%;
  bottom: 25%;
  width: 40%;
  height: 90px;
  font-size: 24px;
  text-align: center;
  line-height: 90px;
}

@media (max-width: 1280px) {
  .btn.btn-img {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .btn.btn-img {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .btn.btn-img {
    width: 30%;
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .btn.btn-img {
    font-size: 14px;
  }
}

.btn-img {
  background-image: url("../img/設施/設施體驗的雲2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.body-bac {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal-content01 {
  background-image: url("../img/設施/飛天宅急便hover02_工作區域 1.png");
}

.modal-content02 {
  background-image: url("../img/設施/鋼鐵雷戰hover.png");
}

.modal-content03 {
  background-image: url("../img/設施/蜘蛛人hover02_工作區域 1.png");
}

.modal-content04 {
  background-image: url("../img/設施/天堂上的鞦韆hover02_工作區域 1.png");
}

.modal-content05 {
  background-image: url("../img/設施/煙囪滑梯hover01_工作區域 1.png");
}

.modal-content06 {
  background-image: url("../img/設施/糖精落體hover.png");
}
/*# sourceMappingURL=C-Facility.css.map */