@charset "UTF-8";
#Drum_page {
  background-image: url("../img/鼓樂饗宴/鼓樂饗宴背景.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

@media (max-width: 320px) {
  #Drum_page {
    display: none;
  }
}

#Drum_page .Drum {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em 0;
  line-height: 1.5em;
}

#Drum_page .Drum .Drum-title-group {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: 3%;
}

#Drum_page .Drum .Drum-title-group .drum-big-title {
  color: #673a1b;
}

#Drum_page .Drum .Drum-title-group a {
  color: #7f4f21;
}

#Drum_page .Drum .Drum-title-group a:hover {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#Drum_page .Drum .Drum-title-group a:active {
  color: #0b6c6d;
  border-bottom: 1px solid #ea5514;
}

@media (max-width: 320px) {
  #Drum_page .Drum {
    display: none;
  }
}

#Drum_page .page {
  width: 36vw;
  height: 88vh;
  background-color: #111111;
  float: left;
  margin-bottom: 0.5em;
  background: left top no-repeat;
  background-size: cover;
}

#Drum_page .page .img-set {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#Drum_page .page .img-00 {
  width: 100%;
  height: 100%;
  background-image: url("../img/十鼓樂團/封面_工作區域 1.jpg");
}

#Drum_page .page .page-img {
  width: 100%;
  height: 100%;
  background-image: url("../img/鼓樂饗宴/鼓的傳說.jpg");
}

#Drum_page .page .page-text-about {
  width: 100%;
  height: 100%;
  padding: 30px;
  background-color: #f4f3ed;
  position: relative;
}

#Drum_page .page .page-text-about span {
  position: absolute;
  left: 0;
  top: 0;
  border-left: 5px solid #0b6c6d;
}

#Drum_page .page .page-text-about h3 {
  width: 100%;
  height: 50px;
  font-size: 28px;
  line-height: 50px;
  text-align: center;
  color: #f7f8f8;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #0b6c6d;
}

#Drum_page .page .page-text-about h6 {
  width: 100%;
  font-weight: unset;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

#Drum_page .page .page-text-about h6 .text-time {
  width: 15%;
  height: 100%;
}

#Drum_page .page .page-text-about h6 .text-con {
  width: 85%;
}

#Drum_page .page .page-text-note {
  width: 100%;
  height: 100%;
  padding: 30px;
  background-color: #d4a63f;
  position: relative;
}

#Drum_page .page .page-text-note .line01 {
  position: absolute;
  left: 0;
  top: 0;
  border-left: 5px solid #0b6c6d;
}

#Drum_page .page .page-text-note h3 {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 28px;
  text-align: center;
  color: #f7f8f8;
  margin-top: 20px;
  margin-bottom: 30px;
}

#Drum_page .page .page-text-note h6 {
  width: 100%;
  font-weight: unset;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

#Drum_page .page .page-text-note h6 .text-time {
  width: 15%;
  height: 100%;
  font-family: "Fredericka the Great", cursive;
}

#Drum_page .page .page-text-note h6 .text-con {
  width: 85%;
}

#Drum_page .page .page-text-award {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

#Drum_page .page .page-text-award h3 {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 28px;
  text-align: center;
  color: #231815;
  margin-top: 30px;
  margin-bottom: 30px;
}

#Drum_page .page .page-text-award h6 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  margin: 10px 0;
}

#Drum_page .page .page-text-award h6 .text-time {
  width: 15%;
  font-family: "Fredericka the Great", cursive;
}

#Drum_page .page .page-text-award h6 .text-con {
  width: 85%;
}

#Drum_page .page .page-text-award .page-img-01 {
  margin-top: 50px;
  height: 40%;
}

#Drum_page .page .page-text-award .line02 {
  width: 20px;
  border-bottom: 5px solid #bc6821;
  position: absolute;
  right: 0;
  bottom: 0;
}

#Drum_page .page .page-text-artist {
  width: 100%;
  height: 100%;
  padding: 25px;
  background-color: #ffffff;
  position: relative;
}

#Drum_page .page .page-text-artist .line03 {
  position: absolute;
  left: 0;
  top: 0;
  border-left: 5px solid #0b6c6d;
}

#Drum_page .page .page-text-artist h3 {
  width: 50%;
  height: 50px;
  line-height: 50px;
  font-size: 28px;
  text-align: center;
  color: #231815;
  margin-top: 20px;
  margin-bottom: 30px;
}

#Drum_page .page .page-text-artist .img-groups {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#Drum_page .page .page-text-artist .img-groups .art {
  position: relative;
  width: 50%;
  height: 100%;
}

#Drum_page .page .page-text-artist .img-groups .art .art-img01 {
  background-image: url("../img/樂團成員/成員去背/王昱淇-截圖.png");
}

#Drum_page .page .page-text-artist .img-groups .art .art-img02 {
  background-image: url("../img/樂團成員/成員去背/林孟緯拷貝.png");
}

#Drum_page .page .page-text-artist .img-groups .art .art-img03 {
  background-image: url("../img/樂團成員/成員去背/李意瑩.png");
}

#Drum_page .page .page-text-artist .img-groups .art .art-img04 {
  background-image: url("../img/樂團成員/成員去背/許瑋庭.png");
}

#Drum_page .page .page-text-artist .img-groups .art .art-img05 {
  background-image: url("../img/樂團成員/成員去背/吳鴻村.png");
}

#Drum_page .page .page-text-artist .img-groups .art .art-img06 {
  background-image: url("../img/樂團成員/成員去背/江逸芹.png");
}

#Drum_page .page .page-text-artist .img-groups .art .art-img07 {
  background-image: url("../img/樂團成員/成員去背/林薏軒.png");
}

#Drum_page .page .page-text-artist .img-groups .art .art-img08 {
  background-image: url("../img/樂團成員/成員去背/張嘉方.png");
}

#Drum_page .page .page-text-artist .img-groups .art .art-img09 {
  background-image: url("../img/樂團成員/成員去背/徐霈純.png");
}

#Drum_page .page .page-text-artist .img-groups .art .art-img10 {
  background-image: url("../img/樂團成員/成員去背/黃士芬.png");
}

#Drum_page .page .page-text-artist .img-groups .art .art-img11 {
  background-image: url("../img/樂團成員/成員去背/黃志荃.png");
}

#Drum_page .page .page-text-artist .img-groups .art .art-img {
  width: 300px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

#Drum_page .page .page-text-artist .img-groups .art .overlay-ToRight {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #efefef;
  opacity: 0.8;
  overflow: hidden;
  width: 0;
  height: 100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#Drum_page .page .page-text-artist .img-groups .art .overlay-ToRight .art-name {
  width: 100%;
  height: 100%;
  color: #231815;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  white-space: nowrap;
  text-align: left;
}

#Drum_page .page .page-text-artist .img-groups .art:hover > .overlay-ToRight {
  width: 100%;
  border: 1px solid #e9c37c;
}

#Drum_page .page .page-text-drama {
  width: 100%;
  height: 100%;
  padding: 30px;
  background-color: #d4a63f;
  position: relative;
  color: #f7f8f8;
}

#Drum_page .page .page-text-drama .line04 {
  position: absolute;
  left: 0;
  top: 0;
  border-left: 5px solid #0b6c6d;
}

#Drum_page .page .page-text-drama .drama-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  width: 100%;
  height: 50%;
}

#Drum_page .page .page-text-drama .drama-con .drama-title {
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 30px;
}

#Drum_page .page .page-text-drama .drama-con .pl-text {
  width: 70%;
  height: 30px;
}

#Drum_page .page .page-text-drama .drama-con .drama-sub-t {
  font-size: 30px;
}

#Drum_page .page .page-text-drama .drama-con .drama-text {
  font-size: 24px;
}

#Drum_page .page .page-text-drama .drama-img {
  height: 40%;
  position: absolute;
  right: 0;
  bottom: 0;
}

#Drum_page .page .video {
  position: relative;
  z-index: 2;
  background-color: #b15821;
  width: 100%;
  height: 100%;
  padding: 60px 50px;
}

#Drum_page .page .video .video-00 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Drum_page .page .video .video-01 {
  width: 100%;
  height: 30%;
  background-color: #efe5cb;
  border-radius: 20px;
  padding: 10px 0;
  margin: 20px;
}

#Drum_page .page .video .video-01 .dvd-text {
  width: 50%;
}

#Drum_page .page .video .video-01 .dvd-text h4 {
  width: 100%;
}

#Drum_page .page .video .video-01 .dvd-text h5 {
  width: 100%;
  letter-spacing: 2px;
}

#Drum_page .page .video .dvd {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  height: 100%;
  margin: 5px;
  border-radius: 20px;
}

#Drum_page .page .video .dvd-img01 {
  background-image: url("../img/鼓樂饗宴/天空斬照片.jpeg");
}

#Drum_page .page .video .dvd-img02 {
  background-image: url("../img/鼓樂饗宴/風馳雷擊照片.jpg");
}

#Drum_page .page .video .dvd-img03 {
  background-image: url("../img/鼓樂饗宴/祈天獻日照片.jpg");
}

#Drum_page .page .video .video-02 {
  width: 100%;
  height: 30%;
  border: 1px solid #efe5cb;
  border-radius: 20px;
  padding: 10px 0;
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#Drum_page .page .video .video-02 .dvd-text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#Drum_page .page .video .video-02 .dvd-text h4 {
  width: 100%;
}

#Drum_page .page .video .video-02 .dvd-text h5 {
  width: 100%;
}

#Drum_page .page:nth-child(even) {
  clear: both;
}

#Drum_page .Book {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

#Drum_page .Book .book {
  -webkit-perspective: 250vw;
          perspective: 250vw;
}

#Drum_page .book .pages {
  width: 72vw;
  height: 88vh;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border-radius: 4px;
}

#Drum_page .book .page {
  float: none;
  clear: none;
  margin: 0;
  position: absolute;
  top: 0;
  width: 36vw;
  height: 88vh;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: -webkit-transform 1.4s;
  transition: -webkit-transform 1.4s;
  transition: transform 1.4s;
  transition: transform 1.4s, -webkit-transform 1.4s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
  background-color: #f0f0f0;
}

#Drum_page .book .page:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 0;
}

#Drum_page .book .page:nth-child(odd) {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  right: 0;
  border-radius: 0 4px 4px 0;
}

#Drum_page .book .page:nth-child(odd):hover:before {
  background: rgba(188, 104, 33, 0.03);
}

#Drum_page .book .page:nth-child(odd):before {
  background: rgba(188, 104, 33, 0);
}

#Drum_page .book .page:nth-child(even) {
  pointer-events: none;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  left: 0;
  border-radius: 4px 0 0 4px;
  border-color: black;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(188, 104, 33, 0.12)), color-stop(10%, rgba(188, 104, 33, 0)));
  background-image: linear-gradient(to left, rgba(188, 104, 33, 0.12) 0%, rgba(188, 104, 33, 0) 10%);
}

#Drum_page .book .page:nth-child(even):before {
  background: rgba(188, 104, 33, 0.2);
}

#Drum_page .book .page.grab {
  -webkit-transition: none;
  transition: none;
}

#Drum_page .book .page.flipped:nth-child(odd) {
  pointer-events: all;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

#Drum_page .book .page.flipped:nth-child(odd):before {
  background: rgba(188, 104, 33, 0.2);
}

#Drum_page .book .page.flipped:nth-child(even) {
  pointer-events: all;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

#Drum_page .book .page.flipped:nth-child(even):hover:before {
  background: rgba(188, 104, 33, 0.03);
}

#Drum_page .book .page.flipped:nth-child(even):before {
  background: rgba(188, 104, 33, 0);
}

#Drum_page *,
#Drum_page * :before,
#Drum_page *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#Drum_page .page:nth-child(odd) {
  background-position: right top;
}

#Drum-mobile {
  background-image: url("../img/鼓樂饗宴/鼓樂饗宴背景.png");
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
}

#Drum-mobile .Drum-mobile-title {
  color: #673a1b;
  font-size: 30px;
  padding: 20px;
}

#Drum-mobile .dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

#Drum-mobile .dropdown .dropbtn {
  background: none;
  color: #0b6c6d;
  padding: 16px;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  border: none;
  margin-bottom: 30px;
}

#Drum-mobile .dropdown .dropbtn .fal.fa-angle-down {
  margin-left: 10px;
  font-size: 30px;
  height: 30px;
  line-height: 30px;
}

#Drum-mobile .dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(237, 227, 202, 0.5);
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 18px;
}

#Drum-mobile .dropdown-content .drum-title01 {
  color: #7f4f21;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

#Drum-mobile .dropdown-content .drum-title01:hover {
  background-color: #ede3ca;
}

#Drum-mobile .dropdown:hover .dropdown-content {
  display: block;
}

#Drum-mobile .dropdown:hover .dropbtn {
  color: rgba(11, 108, 109, 0.5);
}

#Drum-mobile .act {
  border-bottom: none;
  color: #231815;
}

#Drum-mobile .drum-context {
  display: none;
  width: 100%;
  height: 100%;
  position: relative;
}

#Drum-mobile .drum-context .mobile-con {
  margin: auto;
  width: 90%;
  height: 90%;
  background-color: rgba(177, 88, 33, 0.28);
  border-radius: 20px;
}

#Drum-mobile .drum-context .mobile-con .mobile-context {
  width: 100%;
  padding: 10px;
}

#Drum-mobile .drum-context .mobile-con .mobile-context .mobile-texts {
  color: #231815;
  font-size: 14px;
  width: 100%;
  height: 100%;
}

#Drum-mobile .drum-context .mobile-con .mobile-context .mobile-texts .text-time {
  font-family: "Fredericka the Great", cursive;
}

#Drum-mobile .drum-context .mobile-con .mobile-context .mobile-texts .art {
  position: relative;
  width: 100%;
  height: 100%;
}

#Drum-mobile .drum-context .mobile-con .mobile-context .mobile-texts .art .art-img01 {
  background-image: url("../img/樂團成員/成員去背/王昱淇-截圖.png");
}

#Drum-mobile .drum-context .mobile-con .mobile-context .mobile-texts .art .art-img02 {
  background-image: url("../img/樂團成員/成員去背/林孟緯拷貝.png");
}

#Drum-mobile .drum-context .mobile-con .mobile-context .mobile-texts .art .art-img03 {
  background-image: url("../img/樂團成員/成員去背/李意瑩.png");
}

#Drum-mobile .drum-context .mobile-con .mobile-context .mobile-texts .art .art-img04 {
  background-image: url("../img/樂團成員/成員去背/許瑋庭.png");
}

#Drum-mobile .drum-context .mobile-con .mobile-context .mobile-texts .art .art-img05 {
  background-image: url("../img/樂團成員/成員去背/吳鴻村.png");
}

#Drum-mobile .drum-context .mobile-con .mobile-context .mobile-texts .art .art-img06 {
  background-image: url("../img/樂團成員/成員去背/江逸芹.png");
}

#Drum-mobile .drum-context .mobile-con .mobile-context .mobile-texts .art .art-img07 {
  background-image: url("../img/樂團成員/成員去背/林薏軒.png");
}

#Drum-mobile .drum-context .mobile-con .mobile-context .mobile-texts .art .art-img08 {
  background-image: url("../img/樂團成員/成員去背/張嘉方.png");
}

#Drum-mobile .drum-context .mobile-con .mobile-context .mobile-texts .art .art-img09 {
  background-image: url("../img/樂團成員/成員去背/徐霈純.png");
}

#Drum-mobile .drum-context .mobile-con .mobile-context .mobile-texts .art .art-img10 {
  background-image: url("../img/樂團成員/成員去背/黃士芬.png");
}

#Drum-mobile .drum-context .mobile-con .mobile-context .mobile-texts .art .art-img11 {
  background-image: url("../img/樂團成員/成員去背/黃志荃.png");
}

#Drum-mobile .drum-context .mobile-con .mobile-context .mobile-texts .art .art-img {
  width: 200px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

#Drum-mobile .drum-context .mobile-con .mobile-context .mobile-texts .art .overlay-ToRight {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #efefef;
  opacity: 0.8;
  overflow: hidden;
  width: 0;
  height: 100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#Drum-mobile .drum-context .mobile-con .mobile-context .mobile-texts .art .overlay-ToRight .art-name {
  width: 100%;
  height: 100%;
  color: #231815;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  white-space: nowrap;
  text-align: left;
}

#Drum-mobile .drum-context .mobile-con .mobile-context .mobile-texts .art:hover > .overlay-ToRight {
  width: 100%;
  border: 1px solid #e9c37c;
}

#Drum-mobile .drum-context .book-img {
  position: absolute;
  right: 0;
  width: 60%;
  height: 30%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#Drum-mobile .drum-context .book-img01 {
  background-image: url("../img/鼓樂饗宴/手機版翻書01.png");
}

#Drum-mobile .drum-context .book-img02 {
  background-image: url("../img/鼓樂饗宴/手機版翻書02.png");
}

#Drum-mobile .drum-context .book-img03 {
  background-image: url("../img/鼓樂饗宴/手機版翻書03.png");
}

#Drum-mobile .drum-context .book-img04 {
  background-image: url("../img/鼓樂饗宴/手機版翻書04.png");
}

#Drum-mobile .actt {
  display: block;
}
/*# sourceMappingURL=D-Drum.css.map */