$fon48: 48px;
$fon46: 46px;
$fon42: 42px;
$fon36: 36px;
$fon32: 32px;
$fon30: 30px;
$fon24: 24px;
$fon20: 20px;
$fon18: 18px;
$fon16: 16px;
$fon14: 14px;
#Drum_page {
    .Drum {
        width: 100%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        padding: 2em 0;
        line-height: 1.5em;
        // 項目清單
        .Drum-title-group {
            width: 20%;
            display: flex;
            flex-direction: column;
            align-content: center;
            margin-left: 3%;
            .drum-big-title {
                color: #673a1b;
            }

            a {
                color: #7f4f21;

                &:hover {
                    cursor: pointer;
                    // border-bottom: 1px solid #e9c37c;
                    transition: 0.5s;
                }
                &:active {
                    color: #0b6c6d;
                    border-bottom: 1px solid #ea5514;
                }
            }
        }
    }
    // 項目清單
    // 翻書效果
    .book {
        transition: opacity 0.4s 0.2s;
    }
    .page {
        width: 30vw;
        height: 40vw;
        background-color: #111111;
        float: left;
        margin-bottom: 0.5em;
        background: left top no-repeat;
        background-size: cover;
        // 第一頁圖片
        .page-img {
            width: 100%;
            height: 100%;
        }
        // 第一頁
        // 第二頁
        .page-text-about {
            width: 100%;
            height: 100%;
            padding: 30px;
            background-color: #d4a63f;
            position: relative;
            span {
                position: absolute;
                left: 0;
                top: 0;
                border-left: 5px solid #0b6c6d;
            }
            h3 {
                width: 100%;
                height: 50px;
                line-height: 50px;
                text-align: center;
                color: #f7f8f8;
                margin-top: 20px;
                margin-bottom: 30px;
                background-color: #0b6c6d;
            }
            h6 {
                width: 100%;
                font-weight: unset;
                display: flex;
                margin: 10px 0;
                .text-time {
                    width: 15%;
                    height: 100%;
                }
                .text-con {
                    width: 85%;
                }
            }
        }
        // 第二頁
        // 第三頁 演出
        .page-text-note {
            width: 100%;
            height: 100%;
            padding: 30px;
            background-color: #d4a63f;
            position: relative;
            .line01 {
                position: absolute;
                left: 0;
                top: 0;
                border-left: 5px solid #0b6c6d;
            }
            h3 {
                width: 100%;
                height: 50px;
                line-height: 50px;
                text-align: center;
                color: #f7f8f8;
                margin-top: 20px;
                margin-bottom: 30px;
            }
            h6 {
                width: 100%;
                font-weight: unset;
                display: flex;
                margin: 10px 0;
                .text-time {
                    width: 15%;
                    height: 100%;
                }
                .text-con {
                    width: 85%;
                }
            }
        }
        // 第三頁
        // 第四頁 作品
        .page-text-award {
            width: 100%;
            height: 100%;
            padding: 30px;
            display: flex;
            flex-direction: column;
            position: relative;

            h3 {
                width: 100%;
                height: 50px;
                line-height: 50px;
                text-align: center;
                color: #231815;
                margin-top: 30px;
                margin-bottom: 30px;
            }
            h6 {
                width: 100%;
                display: flex;
                margin: 10px 0;
                .text-time {
                    width: 15%;
                }
                .text-con {
                    width: 85%;
                }
            }
            .page-img-01 {
                margin-top: 50px;
                height: 30%;
            }
            .line02 {
                width: 20px;
                border-bottom: 5px solid #bc6821;
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
        // 第四頁
        // 第五頁 成員
        .page-text-artist {
            width: 100%;
            height: 100%;
            padding: 25px;

            position: relative;
            .line03 {
                position: absolute;
                left: 0;
                top: 0;
                border-left: 5px solid #0b6c6d;
            }
            h3 {
                width: 50%;
                height: 50px;
                line-height: 50px;
                text-align: center;
                color: #231815;
                margin-top: 20px;
                margin-bottom: 30px;
            }
            .img-groups {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                .art {
                    position: relative;
                    width: 33.33%;
                    .art-img {
                        display: block;
                        width: 100%;
                        height: auto;
                    }
                    .overlay-zoom {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background-color: #efefef;
                        border: 1px solid #e9c37c;
                        overflow: hidden;
                        width: 100%;
                        height: 100%;
                        -webkit-transform: scale(0);
                        -ms-transform: scale(0);
                        transform: scale(0);
                        -webkit-transition: 0.3s ease;
                        transition: 0.3s ease;
                    }
                    &:hover .overlay-zoom {
                        -webkit-transform: scale(1);
                        -ms-transform: scale(1);
                        transform: scale(1);
                        .art-name {
                            color: #231815;
                            font-size: 20px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            -webkit-transform: translate(-50%, -50%);
                            -ms-transform: translate(-50%, -50%);
                            transform: translate(-50%, -50%);
                            text-align: center;
                        }
                    }
                }
            }
        }
        // 第五頁
        // 第七頁 定目劇-1
        .page-text-drama {
            width: 100%;
            height: 100%;
            padding: 30px;
            background-color: #d4a63f;
            position: relative;
            color: #f7f8f8;

            .line04 {
                position: absolute;
                left: 0;
                top: 0;
                border-left: 5px solid #0b6c6d;
            }
            .drama-con {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width: 100%;
                height: 50%;
                h3 {
                    text-align: center;
                    width: 100%;
                    height: 50px;
                    line-height: 50px;

                    margin-top: 20px;
                    margin-bottom: 30px;
                }
                .pl-text {
                    width: 70%;
                    height: 30px;
                }
            }
            .drama-img {
                height: 30%;
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
        // 第七頁
        // 第八頁 定目劇-2
        .video {
            background-color: #b15821;
            width: 100%;
            height: 100%;
            padding: 60px 50px;
            .video-01 {
                width: 100%;
                height: 30%;
                background-color: #efe5cb;
                border-radius: 20px;
                padding: 10px 0;
                margin: 20px;
                display: flex;
                .dvd {
                    width: 40%;
                    height: 25%;
                }
                .dvd-text {
                    width: 50%;
                    h4 {
                        width: 100%;
                    }
                    h5 {
                        width: 100%;
                    }
                }
            }
            .video-02 {
                width: 100%;
                height: 30%;
                border: 1px solid #efe5cb;
                border-radius: 20px;
                padding: 10px 0;
                margin: 0 20px;
                display: flex;
                flex-direction: row;
                .dvd {
                    width: 40%;
                    height: 25%;
                }
                .dvd-text {
                    width: 50%;
                    display: flex;

                    flex-direction: column;
                    h4 {
                        width: 100%;
                    }
                    h5 {
                        width: 100%;
                    }
                }
            }
        }
        // 第八頁
    }
    .page:nth-child(even) {
        clear: both;
    }
    .Book {
        width: 80%;

        display: flex;
        align-content: center;
        .book {
            perspective: 250vw;
        }
    }

    .book .pages {
        width: 60vw;
        height: 40vw;
        position: relative;
        transform-style: preserve-3d;
        backface-visibility: hidden;
        border-radius: 4px;
        // box-shadow: 0 0 0 1px #e3dfd8;
    }
    .book .page {
        float: none;
        clear: none;
        margin: 0;
        position: absolute;
        top: 0;
        width: 30vw;
        height: 40vw;
        transform-origin: 0 0;
        transition: transform 1.4s;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        cursor: pointer;
        user-select: none;
        background-color: #f0f0f0;
    }
    .book .page:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0);
        transition: background 0.7s;
        z-index: 2;
    }
    .book .page:nth-child(odd) {
        pointer-events: all;
        transform: rotateY(0deg);
        right: 0;
        border-radius: 0 4px 4px 0;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 10%);
    }
    .book .page:nth-child(odd):hover {
        transform: rotateY(-15deg);
    }
    .book .page:nth-child(odd):hover:before {
        background: rgba(188, 104, 33, 0.03);
    }
    .book .page:nth-child(odd):before {
        background: rgba(188, 104, 33, 0);
    }
    .book .page:nth-child(even) {
        pointer-events: none;
        transform: rotateY(180deg);
        transform-origin: 100% 0;
        left: 0;
        border-radius: 4px 0 0 4px;
        border-color: black;
        background-image: linear-gradient(to left, rgba(188, 104, 33, 0.12) 0%, rgba(188, 104, 33, 0) 10%);
    }
    .book .page:nth-child(even):before {
        background: rgba(188, 104, 33, 0.2);
    }
    .book .page.grabbing {
        transition: none;
    }
    .book .page.flipped:nth-child(odd) {
        pointer-events: none;
        transform: rotateY(-180deg);
    }
    .book .page.flipped:nth-child(odd):before {
        background: rgba(188, 104, 33, 0.2);
    }
    .book .page.flipped:nth-child(even) {
        pointer-events: all;
        transform: rotateY(0deg);
    }
    .book .page.flipped:nth-child(even):hover {
        transform: rotateY(15deg);
    }
    .book .page.flipped:nth-child(even):hover:before {
        background: rgba(188, 104, 33, 0.03);
    }
    .book .page.flipped:nth-child(even):before {
        background: rgba(188, 104, 33, 0);
    }
    *,
    * :before,
    *:after {
        box-sizing: border-box;
    }

    .page:nth-child(odd) {
        background-position: right top;
    }

    // 翻書效果
}
