$fon48: 48px;
$fon46: 46px;
$fon42: 42px;
$fon36: 36px;
$fon32: 32px;
$fon30: 30px;
$fon24: 24px;
$fon20: 20px;
$fon18: 18px;
$fon16: 16px;
$fon14: 14px;
body {
    margin: 0;
    box-sizing: border-box;
}
// 切板完成
.park_pag {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-wrap: wrap;
    align-content: start;
    background-image: url("../img/入園資訊/背景news.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.park_button_bar {
    width: 20%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    text-align: center;
}
.park_tittle {
    margin-top: 100px;
    margin-bottom: 30px;
    width: 80%;
    color: #673a1b;
    font-size: $fon48;
    height: 50px;
    line-height: 50px;

    @media (max-width: 1280px) {
        font-size: $fon42;
    }
    @media (max-width: 1024px) {
        font-size: $fon36;
    }
    @media (max-width: 768px) {
        font-size: $fon24;
    }
    @media (max-width: 320px) {
        font-size: $fon18;
    }
}

.park_lease_box {
    width: 60%;
    font-size: $fon32;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    @media (max-width: 1280px) {
        font-size: $fon24;
    }
    @media (max-width: 1024px) {
        font-size: $fon20;
    }
    @media (max-width: 768px) {
        font-size: $fon18;
    }
    @media (max-width: 320px) {
        font-size: $fon16;
    }
    &:hover {
        color: #0b6c6d;
        border-bottom: 2px solid #b15821;
        transition: 0.3s;
    }
}
.park_lease_tour {
    width: 60%;
    font-size: $fon32;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    @media (max-width: 1280px) {
        font-size: $fon24;
    }
    @media (max-width: 1024px) {
        font-size: $fon20;
    }
    @media (max-width: 768px) {
        font-size: $fon18;
    }
    @media (max-width: 320px) {
        font-size: $fon16;
    }
    &:hover {
        color: #0b6c6d;
        border-bottom: 2px solid #b15821;
        transition: 0.3s;
    }
}
.park_lease_show {
    width: 60%;
    font-size: $fon32;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    @media (max-width: 1280px) {
        font-size: $fon24;
    }
    @media (max-width: 1024px) {
        font-size: $fon20;
    }
    @media (max-width: 768px) {
        font-size: $fon18;
    }
    @media (max-width: 320px) {
        font-size: $fon16;
    }
    &:hover {
        color: #0b6c6d;
        border-bottom: 2px solid #b15821;
        transition: 0.3s;
    }
}

a.park_lease_tour {
    color: unset;
    &:hover {
        color: unset;
        text-decoration: none;
    }
}
a.park_lease_show {
    color: unset;
    &:hover {
        color: unset;
        text-decoration: none;
    }
}
.park_photo_R{
    width: 80%;
    display: flex;
    justify-content: center;
}
.park_photobox {
    width: 100%;
    margin-top: 100px;
    
}

.park_inf {
    
    width: 100%;
    display: none;
}

.park_inf_photo {
    
    width: 100%;
    
    display: flex; 
    justify-items: center;
}
.style_img{
    width: 90%;
}
/* --------開關顯示---- */

.park_active {
    display: block;
}

.park_lease_box.park_active {
    display: flex;
    align-items: center;
    justify-content: center;
}
