@charset "UTF-8";
body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.park_pag {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: start;
  background-image: url("../img/入園資訊/背景news.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.park_button_bar {
  width: 20%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.park_tittle {
  margin-top: 100px;
  margin-bottom: 30px;
  width: 80%;
  color: #673a1b;
  font-size: 48px;
  height: 50px;
  line-height: 50px;
}

@media (max-width: 1280px) {
  .park_tittle {
    font-size: 42px;
  }
}

@media (max-width: 1024px) {
  .park_tittle {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .park_tittle {
    font-size: 24px;
  }
}

@media (max-width: 320px) {
  .park_tittle {
    font-size: 18px;
  }
}

.park_lease_box {
  width: 60%;
  font-size: 32px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}

@media (max-width: 1280px) {
  .park_lease_box {
    font-size: 24px;
  }
}

@media (max-width: 1024px) {
  .park_lease_box {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .park_lease_box {
    font-size: 18px;
  }
}

@media (max-width: 320px) {
  .park_lease_box {
    font-size: 16px;
  }
}

.park_lease_box:hover {
  color: #0b6c6d;
  border-bottom: 2px solid #b15821;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.park_lease_tour {
  width: 60%;
  font-size: 32px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}

@media (max-width: 1280px) {
  .park_lease_tour {
    font-size: 24px;
  }
}

@media (max-width: 1024px) {
  .park_lease_tour {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .park_lease_tour {
    font-size: 18px;
  }
}

@media (max-width: 320px) {
  .park_lease_tour {
    font-size: 16px;
  }
}

.park_lease_tour:hover {
  color: #0b6c6d;
  border-bottom: 2px solid #b15821;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.park_lease_show {
  width: 60%;
  font-size: 32px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}

@media (max-width: 1280px) {
  .park_lease_show {
    font-size: 24px;
  }
}

@media (max-width: 1024px) {
  .park_lease_show {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .park_lease_show {
    font-size: 18px;
  }
}

@media (max-width: 320px) {
  .park_lease_show {
    font-size: 16px;
  }
}

.park_lease_show:hover {
  color: #0b6c6d;
  border-bottom: 2px solid #b15821;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a.park_lease_tour {
  color: unset;
}

a.park_lease_tour:hover {
  color: unset;
  text-decoration: none;
}

a.park_lease_show {
  color: unset;
}

a.park_lease_show:hover {
  color: unset;
  text-decoration: none;
}

.park_photo_R {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.park_photobox {
  width: 100%;
  margin-top: 100px;
}

.park_inf {
  width: 100%;
  display: none;
}

.park_inf_photo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
}

.style_img {
  width: 90%;
}

/* --------開關顯示---- */
.park_active {
  display: block;
}

.park_lease_box.park_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=E-Information.css.map */