$fon48: 48px;
$fon46: 46px;
$fon42: 42px;
$fon36: 36px;
$fon32: 32px;
$fon30: 30px;
$fon24: 24px;
$fon20: 20px;
$fon18: 18px;
$fon16: 16px;
$fon14: 14px;
* {
    a {
    }
}
// 切板完成
.Rented {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-image: url("../img/場地租借/場地租借背景-01_工作區域\ 1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .button-bar {
        height: calc(100vh - 30px);
        width: 20%;
        // background-color: #e9e1d3;
        display: flex;
        .button-g {
            height: 50%;
            width: 100%;

            margin: auto;
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            // 場地租借 標題
            .rented-tittle {
                height: 20%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #673a1b;
                font-weight: bolder;
            }
            // 租借要點
            .lease-box {
                height: 20%;
                width: 100%;
                text-decoration: unset;
                font-size: $fon32;
                display: flex;
                align-items: center;
                justify-content: center;
                @media (max-width: 1280px) {
                    font-size: $fon30;
                }
                @media (max-width: 1024px) {
                    font-size: $fon24;
                }
                @media (max-width: 768px) {
                    font-size: $fon20;
                }
                @media (max-width: 320px) {
                    font-size: $fon18;
                }
                // 按鈕樣式
                $color-gray: #c67b56;
                $color-black: #595757;
                $stripe-height: 7px;
                $btn-color: $color-gray;
                $btn-background: #efe5cb;
                $btn-color-hover: #fff;
                $btn-background-hover: #d4a63f;
                $border-color: $color-gray;
                $border-color-hover: #c67b56;

                @mixin reset-button {
                    overflow: visible;
                    margin: 0;
                    padding: 0;
                    border: 0;
                    background: transparent;
                    font: inherit;
                    line-height: normal;
                    cursor: pointer;
                    -moz-user-select: text;

                    &:-moz-focus-inner {
                        padding: 0;
                        border: 0;
                    }
                }

                @keyframes stripe-slide {
                    0% {
                        background-position: 0% 0;
                    }
                    100% {
                        background-position: 100% 0;
                    }
                }

                .btn {
                    @include reset-button;
                    display: block;
                    text-decoration: none;
                    text-transform: uppercase;
                    padding: 16px 10px 22px;
                    background-color: $btn-background;
                    color: $color-black;
                    // border: 2px solid $border-color;
                    border-radius: 6px;
                    margin-bottom: 16px;
                    transition: all 0.5s ease;

                    &--stripe {
                        overflow: hidden;
                        position: relative;

                        &:after {
                            content: "";
                            display: block;
                            height: $stripe-height;
                            width: 100%;
                            background-image: repeating-linear-gradient(
                                45deg,
                                $border-color,
                                $border-color 1px,
                                transparent 2px,
                                transparent 5px
                            );
                            -webkit-backface-visibility: hidden;
                            backface-visibility: hidden;
                            border-top: 1px solid $border-color;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            background-size: $stripe-height $stripe-height;
                        }

                        &:hover {
                            background-color: $btn-background-hover;
                            color: $btn-color-hover;
                            border-color: $border-color-hover;

                            &:after {
                                background-image: repeating-linear-gradient(
                                    45deg,
                                    $btn-color-hover,
                                    $btn-color-hover 1px,
                                    transparent 2px,
                                    transparent 5px
                                );
                                border-top: 1px solid $border-color-hover;
                                animation: stripe-slide 12s infinite linear forwards;
                            }
                        }
                    }

                    &--large {
                        width: 50%;
                    }

                    &--radius {
                        border-radius: 36px;
                    }
                }
                // 按鈕樣式

                .modal-content {
                    width: 100%;                    
                    background-color: rgba($color: #e9e1d3, $alpha: 0.9);
                    
                    .modal-header{
                        
                    }
                    .text-box {
                        width: 80%;

                        font-size: $fon30;
                        text-align: start;
                        margin: auto;
                        @media (max-width: 1280px) {
                            font-size: $fon24;
                        }
                        @media (max-width: 1024px) {
                            font-size: $fon20;
                        }
                        @media (max-width: 768px) {
                            font-size: $fon18;
                        }
                        @media (max-width: 320px) {
                            font-size: $fon16;
                        }
                    }
                }
            }
        }
    }

    .photo-R {
        height: calc(100vh - 30px);
        width: 80%;
        // background-color: #e9e1d3;
        display: flex;
        align-items: center;
        .photo {
            height: 80%;
            width: 100%;
            // background-color: rgb(140, 40, 233);
            /* ---輪播CSS--- */

            .swiper-container {
                width: 100%;
                height: 100%;
                .swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    // background: #e9e1d3;

                    /* Center slide text vertically */
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    .rented-img {
                        width: 80%;
                        height: 100%;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                    .rented-img01{
                        background-image: url('../img/場地租借/石鼓會議廳-2.jpg');
                    }
                    .rented-img02{
                        background-image: url('../img/場地租借/永不出軌宴會廳-1.jpg');
                    }
                    .rented-img03{
                        background-image: url('../img/場地租借/齒輪舞台-3.jpg');
                    }
                    .rented-img04{
                        background-image: url('../img/場地租借/水槽劇場-4.jpg');
                    }
                    .text-center {
                        width: 300px;
                        height: 300px;
                        padding: 8px;
                        background-color: rgba($color: #b15821, $alpha: 0.5);
                        color: #f7f8f8;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        font-size: $fon30;
                        text-align: center;
                        line-height: 50px;
                        transform: translate(-50%, -50%);
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-content: center;
                        
                        @media (max-width: 768px) {
                            width: 150px;
                            height: 150px; 
                            font-size: $fon16; 
                            line-height: 25px;
                            padding: 0;
                        }
                        .text-set {
                            width: 100%;
                        }
                    }
                }
                .swiper-pagination-bullet {
                    width: 20px;
                    height: 20px;
                    background-color: rgb(216, 150, 150);
                }
            }
        }
    }

    footer {
        width: 100%;
        height: 30px;
        background-color: #b15821;
        margin: auto;
        color: #f7f8f8;
        font-size: $fon16;
        text-align: center;
        line-height: $fon30;
    }
}
