


.subtitle {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: #0B6C6D;
  animation: fadeIn 500ms reverse;
}

.gooey-r {
  background-image: linear-gradient(120deg, #EFE5CB 0%, #B15821 100%);
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  width: 350px;
  height: 90px;
  animation: morph 3s linear infinite;
  transform-style: preserve-3d;
  outline: 1px solid transparent;
  will-change: border-radius;
}

.gooey-r:before, .gooey-r:after {
  /* content: '';  */
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left:0;
  top:0;
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  will-change: border-radius, transform, opacity;
  animation-delay: 200ms;
  background-image: linear-gradient(120deg, rgba(212, 166, 63, .55) 0%, #EFE5CB 100%);
}

.gooey-r:before {
  animation: morph 3s linear infinite;
  opacity: .21;
  animation-duration: 1.5s;
}

.gooey-r:after {
  animation: morph 3s linear infinite;
  animation-delay: 400ms;
  opacity: .89;
  
  line-height: 120px;
  text-indent: -21px;
}

@keyframes morph {
  0%, 100% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  34% {
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }
  50% {
    opacity: .89;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}

@keyframes fadeIn {
  100% {
    transform: scale(1.03);
    opacity: 0;
  }
