@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'cwTeXFangSong','cwTeXKai', 'Noto Sans TC', '微軟正黑體', sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
}

.display-none {
  display: none;
}

footer {
  width: 100%;
  height: 30px;
  background-color: #B15821;
  margin: auto;
  color: #F7F8F8;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
}

.index .Nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.index .Nav .Logo-pic {
  width: 45%;
}

.index .Nav .left-group {
  width: 55%;
}

.index .Nav .left-group .Menu-group {
  width: 100%;
  margin-right: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: 540;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-end;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

.index .Nav .left-group .Menu-group .index-btn {
  width: 100%;
}

.index .Nav .left-group .Menu-group .index-btn:hover {
  cursor: pointer;
}

@-webkit-keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.index .Nav .left-group .Menu-group .btn {
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  line-height: calc(50px);
  cursor: pointer;
  -moz-user-select: text;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
  margin: 0 5px;
  background-color: #efefef;
  color: #7f5f43;
  font-weight: 540;
  border: 2px solid #7f5f43;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.index .Nav .left-group .Menu-group .btn:-moz-focus-inner {
  padding: 0;
  border: 0;
}

.index .Nav .left-group .Menu-group .btn--stripe {
  overflow: hidden;
  position: relative;
}

.index .Nav .left-group .Menu-group .btn--stripe:after {
  content: "";
  display: block;
  height: 7px;
  width: 100%;
  background-image: repeating-linear-gradient(45deg, #7f5f43, #7f5f43 1px, transparent 2px, transparent 5px);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-top: 1px solid #7f5f43;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: 7px 7px;
}

.index .Nav .left-group .Menu-group .btn--stripe:hover {
  background-color: #7f5f43;
  color: #ffffff;
  border-color: #d3a53f;
}

.index .Nav .left-group .Menu-group .btn--stripe:hover:after {
  background-image: repeating-linear-gradient(45deg, #ffffff, #ffffff 1px, transparent 2px, transparent 5px);
  border-top: 1px solid #d3a53f;
  -webkit-animation: stripe-slide 12s infinite linear forwards;
          animation: stripe-slide 12s infinite linear forwards;
}

.index .Nav .left-group .cloud-group {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index .Nav .left-group .cloud-group .cloud {
  width: 20%;
  position: absolute;
}

.index .Nav .left-group .cloud-group .cloud01 {
  right: 60%;
  top: 150px;
}

.index .Nav .left-group .cloud-group .cloud02 {
  right: 30%;
  top: 300px;
}

.index .big-img {
  position: absolute;
  bottom: 0;
  z-index: -1;
  background-image: url("../img/主頁背景/主頁背景_工作區域 1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
}

.index .big-img .img-group {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-animation: bannermove 15s linear infinite;
          animation: bannermove 15s linear infinite;
}

.index .big-img .img-group .img-group img {
  margin: 0 0.5em;
}

@-webkit-keyframes bannermove {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
}

@keyframes bannermove {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
}

.hamburger {
  padding: 10px;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hamburger .ham-ani {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.hamburger .ham-ani .stick {
  width: 60px;
  height: 6px;
  border-radius: 4px;
  margin-bottom: 15px;
  background-color: #0b6c6d;
  display: inline-block;
}

.hamburger .ham-ani .stick:last-child {
  margin-bottom: 0px;
}

.hamburger .ham-ani .stick-1.open {
  -webkit-animation: stick-1-open 0.6s ease-out forwards;
          animation: stick-1-open 0.6s ease-out forwards;
}

.hamburger .ham-ani .stick-2.open {
  -webkit-animation: stick-2-open 0.6s linear forwards;
          animation: stick-2-open 0.6s linear forwards;
}

.hamburger .ham-ani .stick-3.open {
  -webkit-animation: stick-3-open 0.6s linear forwards;
          animation: stick-3-open 0.6s linear forwards;
}

@-webkit-keyframes stick-1-open {
  0% {
    width: 60px;
  }
  40% {
    background-color: #0b6c6d;
    width: 6px;
    -webkit-transform: translate(40px, 0px);
            transform: translate(40px, 0px);
  }
  75% {
    width: 6px;
    -webkit-transform: translate(40px, -50px);
            transform: translate(40px, -50px);
    -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 1);
            animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }
  100% {
    background-color: #0b6c6d;
    width: 6px;
    -webkit-transform: translate(35px, 46px);
            transform: translate(35px, 46px);
  }
}

@keyframes stick-1-open {
  0% {
    width: 60px;
  }
  40% {
    background-color: #0b6c6d;
    width: 6px;
    -webkit-transform: translate(40px, 0px);
            transform: translate(40px, 0px);
  }
  75% {
    width: 6px;
    -webkit-transform: translate(40px, -50px);
            transform: translate(40px, -50px);
    -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 1);
            animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }
  100% {
    background-color: #0b6c6d;
    width: 6px;
    -webkit-transform: translate(35px, 46px);
            transform: translate(35px, 46px);
  }
}

@-webkit-keyframes stick-2-open {
  80% {
    background-color: #0b6c6d;
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    background-color: #0b6c6d;
    -webkit-transform: translate(6px, 0px) rotate(45deg);
            transform: translate(6px, 0px) rotate(45deg);
  }
}

@keyframes stick-2-open {
  80% {
    background-color: #0b6c6d;
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    background-color: #0b6c6d;
    -webkit-transform: translate(6px, 0px) rotate(45deg);
            transform: translate(6px, 0px) rotate(45deg);
  }
}

@-webkit-keyframes stick-3-open {
  80% {
    background-color: #0b6c6d;
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    background-color: #0b6c6d;
    -webkit-transform: translate(6px, -23px) rotate(-45deg);
            transform: translate(6px, -23px) rotate(-45deg);
  }
}

@keyframes stick-3-open {
  80% {
    background-color: #0b6c6d;
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    background-color: #0b6c6d;
    -webkit-transform: translate(6px, -23px) rotate(-45deg);
            transform: translate(6px, -23px) rotate(-45deg);
  }
}

.hamburger .stick-1.close {
  width: 6px;
  -webkit-transform: translate(27px, 26px);
          transform: translate(27px, 26px);
  -webkit-animation: stick-1-close 0.6s ease-out forwards;
          animation: stick-1-close 0.6s ease-out forwards;
}

.hamburger .stick-2.close {
  -webkit-transform: translate(0px, 0px) rotate(45deg);
          transform: translate(0px, 0px) rotate(45deg);
  -webkit-animation: stick-2-close 0.6s ease-out forwards;
          animation: stick-2-close 0.6s ease-out forwards;
}

.hamburger .stick-3.close {
  -webkit-transform: translate(0px, -23px) rotate(-45deg);
          transform: translate(0px, -23px) rotate(-45deg);
  -webkit-animation: stick-3-close 0.6s ease-out forwards;
          animation: stick-3-close 0.6s ease-out forwards;
}

@-webkit-keyframes stick-1-close {
  0%,
  70% {
    width: 0px;
  }
  100% {
    width: 60px;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes stick-1-close {
  0%,
  70% {
    width: 0px;
  }
  100% {
    width: 60px;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes stick-2-close {
  0% {
    background-color: #0b6c6d;
    width: 60px;
  }
  20% {
    background-color: #0b6c6d;
    width: 6px;
    -webkit-transform: translate(0, 0px) rotate(45deg);
            transform: translate(0, 0px) rotate(45deg);
  }
  40% {
    background-color: #0b6c6d;
    width: 0px;
  }
  65% {
    -webkit-transform: translate(0, -70px);
            transform: translate(0, -70px);
    -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 1);
            animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }
  80% {
    width: 0px;
  }
  100% {
    width: 60px;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes stick-2-close {
  0% {
    background-color: #0b6c6d;
    width: 60px;
  }
  20% {
    background-color: #0b6c6d;
    width: 6px;
    -webkit-transform: translate(0, 0px) rotate(45deg);
            transform: translate(0, 0px) rotate(45deg);
  }
  40% {
    background-color: #0b6c6d;
    width: 0px;
  }
  65% {
    -webkit-transform: translate(0, -70px);
            transform: translate(0, -70px);
    -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 1);
            animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }
  80% {
    width: 0px;
  }
  100% {
    width: 60px;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@-webkit-keyframes stick-3-close {
  0% {
    background-color: #0b6c6d;
    width: 60px;
  }
  20% {
    background-color: #0b6c6d;
    width: 6px;
    -webkit-transform: translate(0, -23px) rotate(-45deg);
            transform: translate(0, -23px) rotate(-45deg);
  }
  40% {
    background-color: #0b6c6d;
  }
  65% {
    -webkit-transform: translate(0, -93px);
            transform: translate(0, -93px);
    -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 1);
            animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }
  90% {
    width: 6px;
  }
  100% {
    width: 60px;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes stick-3-close {
  0% {
    background-color: #0b6c6d;
    width: 60px;
  }
  20% {
    background-color: #0b6c6d;
    width: 6px;
    -webkit-transform: translate(0, -23px) rotate(-45deg);
            transform: translate(0, -23px) rotate(-45deg);
  }
  40% {
    background-color: #0b6c6d;
  }
  65% {
    -webkit-transform: translate(0, -93px);
            transform: translate(0, -93px);
    -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 1);
            animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }
  90% {
    width: 6px;
  }
  100% {
    width: 60px;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

.hamburger .ham-menu {
  color: #0b6c6d;
  text-align: center;
  font-size: 20px;
  font-family: "Fredericka the Great", cursive;
}

.btn-groupxxx {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #efe5cb;
  opacity: 1;
  z-index: 499;
  display: none;
}

.btn-groupxxx.active {
  display: block;
}

.btn-groupxxx .btn-bacimg {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../img/打鼓人/打鼓人調色1.png");
  background-position: left;
  background-repeat: no-repeat;
}

.btn-groupxxx .btn-bacimg .btnsss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-groupxxx .btn-bacimg .btnsss .icons {
  width: 10%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
}

.btn-groupxxx .btn-bacimg .btnsss .icons .icon {
  width: 100%;
}

.btn-groupxxx .btn-bacimg .btnsss .btns {
  width: 85%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}

.btn-groupxxx .btn-bacimg .btnsss .btns .btn-index {
  font-size: 46px;
  margin-bottom: 30px;
  color: #595757;
  font-family: "Fredericka the Great", cursive;
}

.btn-groupxxx .btn-bacimg .btnsss .btns .btn {
  padding: 20px;
  width: 50%;
  font-weight: bolder;
  line-height: 50%;
  text-align: center;
  border: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.btn-groupxxx .btn-bacimg .btnsss .btns .btn:hover {
  background-color: rgba(212, 166, 63, 0.8);
  color: #efefef;
}

.btn-groupxxx .btn-bacimg .btnsss .btns .btn h1 {
  color: #4d483d;
}

.btn-groupxxx .btn-bacimg .btnsss .btns .btn h1:hover {
  color: #efefef;
}

.btn-groupxxx .btn-bacimg .btnsss .infor {
  width: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 150px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
}

.btn-groupxxx .btn-bacimg .btnsss .infor .top {
  width: 100%;
  text-align: center;
}

.btn-groupxxx .btn-bacimg .btnsss .infor .top .lan {
  width: 35px;
  height: 35px;
  margin: 10px 0;
  font-size: 16px;
  text-align: center;
  line-height: 35px;
}

.btn-groupxxx .btn-bacimg .btnsss .infor .top .lan:hover {
  cursor: pointer;
}

.btn-groupxxx .btn-bacimg .btnsss .infor .top .en {
  color: #d4a63f;
  border: 1px solid #d4a63f;
  font-family: "Fredericka the Great", cursive;
}

.btn-groupxxx .btn-bacimg .btnsss .infor .top .cn {
  color: #595757;
  border: 1px solid #595757;
}

.btn-groupxxx .btn-bacimg .btnsss .bott {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.New {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("./img/主頁背景/news 背景.jpg");
}

.New .new-title {
  margin-left: 10px;
  padding: 25px;
  width: 20%;
}

.New .new-title .new-title-all {
  font-size: 54px;
  font-weight: bold;
  margin-bottom: 60px;
}

.New .new-title .new-title01 {
  margin-top: 10%;
  padding-left: 10px;
  font-size: 26px;
  color: #b15821;
  border-bottom: 1px solid #b15821;
}

.New .new-title .new-title01:hover {
  cursor: pointer;
}

.New .new-title .act {
  border-bottom: none;
  color: #231815;
}

.New .new-contexts {
  width: 80%;
  height: calc(100vh - 30px);
}

.New .new-contexts .new-context {
  display: none;
}

.New .new-contexts .new-context .new-contain {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.New .new-contexts .new-context .new-contain .fas.fa-circle {
  font-size: 12px;
  line-height: 100px;
  color: #0b6c6d;
  padding: 0 5px;
}

.New .new-contexts .new-context .new-contain .new-context-title {
  width: 50%;
  margin-bottom: 10%;
  font-size: 36px;
  font-weight: bold;
  color: #3e3a39;
  text-align: center;
  border-bottom: 1px solid #727171;
  height: 50px;
}

.New .new-contexts .new-context .new-contain .new-context-group {
  width: 100%;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.New .new-contexts .new-context .new-contain .new-context-group .col-sm-12,
.New .new-contexts .new-context .new-contain .new-context-group .col-lg-4 {
  padding-left: 0;
  padding-right: 0;
}

.New .new-contexts .new-context .new-contain .new-context-group .news {
  height: auto;
  padding: 15px;
  margin: 1%;
  border: 1px solid #b15821;
}

.New .new-contexts .new-context .new-contain .new-context-group .news .new-img {
  width: 90%;
  margin-bottom: 10px;
}

.New .new-contexts .new-context .new-contain .new-context-group .news .new-time {
  margin-bottom: 10px;
  font-size: 14px;
}

.New .new-contexts .new-context .new-contain .new-context-group .news .new-name {
  width: 90%;
  font-size: 18px;
}

.New .new-contexts .new-context .new-contain .new-context-group .news .new-mores {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.New .new-contexts .new-context .new-contain .new-context-group .news .new-mores .new-more {
  width: 30%;
  font-family: "Fredericka the Great", cursive;
  font-size: 20px;
  color: #f7f8f8;
  background: #b15821;
  border-radius: 10px;
  text-align: center;
  height: 25px;
  line-height: 25px;
}

.New .new-contexts .new-context .new-contain .new-context-group .news .new-mores .new-more:hover {
  cursor: pointer;
}

.New .new-contexts .actt {
  display: block;
}

.Facility {
  width: 100%;
  min-height: calc(100vh - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  background-color: #EAB854;
  opacity: 0.8;
}

.Facility .bag-img {
  position: absolute;
  width: 100%;
  height: 90vh;
  background-image: url("./img/插圖/雙飛飛人.png");
  background-repeat: no-repeat;
}

.Facility .margin-use {
  width: 8%;
}

.Facility .facility-title {
  width: 15%;
  height: 80px;
  font-size: 54px;
  text-align: center;
  color: #f7f8f8;
  border-bottom: 2px solid #f7f8f8;
}

.Facility .img-groups {
  width: 70%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Facility .img-groups .img-team {
  width: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-items: flex-end;
  position: relative;
}

.Facility .img-groups .img-team:hover {
  cursor: pointer;
}

.Facility .img-groups .img-team .image-circle {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border-top: 2px dashed #ffcc00;
  border-right: 2px dashed #0b6c6d;
  border-left: 2px dashed #f7f8f8;
  border-bottom: 2px dashed #571212;
  margin: 10px;
  padding: 10px;
  -webkit-animation: spin 10s infinite linear;
          animation: spin 10s infinite linear;
  overflow: hidden;
}

.Facility .img-groups .img-team .image-circle img {
  animation: spin 10s infinite reverse linear;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.Facility .img-groups .img-team .imgg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.Facility .img-groups .img-team .img01 {
  background-image: url("/團體專題/3.程式/img/設施/天空上的鞦韆.jpg");
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

.Facility .img-groups .img-team .img-name {
  position: absolute;
  bottom: 90px;
  left: -60px;
  width: 50%;
  height: 90px;
  font-size: 24px;
  text-align: center;
  line-height: 110px;
  background-image: url("../img/插圖/設施體驗的雲2.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Facility .img-groups .img-team .img-name:hover {
  color: #b15821;
}

a {
  color: #000;
}

.Drum {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em 0;
  line-height: 1.5em;
}

.Drum .Drum-title-group {
  width: 20%;
}

.book {
  -webkit-transition: opacity 0.4s 0.2s;
  transition: opacity 0.4s 0.2s;
}

.page {
  width: 30vw;
  height: 40vw;
  background-color: #111111;
  float: left;
  margin-bottom: 0.5em;
  background: left top no-repeat;
  background-size: cover;
}

.page .page-text {
  width: 100%;
  padding: 30px;
}

.page .page-text h3 {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #f7f8f8;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #0b6c6d;
}

.page .page-text h6 {
  width: 100%;
  font-weight: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

.page .page-text h6 .text-time {
  width: 15%;
  height: 100%;
}

.page .page-text h6 .text-con {
  width: 85%;
}

.page .page-img {
  width: 100%;
  height: 100%;
}

.page .page-img-01 {
  width: 30%;
}

.page:nth-child(even) {
  clear: both;
}

.Book {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.Book .book {
  -webkit-perspective: 250vw;
          perspective: 250vw;
}

.book .pages {
  width: 60vw;
  height: 40vw;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 4px;
  /*box-shadow: 0 0 0 1px #e3dfd8;*/
}

.book .page {
  float: none;
  clear: none;
  margin: 0;
  position: absolute;
  top: 0;
  width: 30vw;
  height: 40vw;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: -webkit-transform 1.4s;
  transition: -webkit-transform 1.4s;
  transition: transform 1.4s;
  transition: transform 1.4s, -webkit-transform 1.4s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #f0f0f0;
}

.book .page:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: background 0.7s;
  transition: background 0.7s;
  z-index: 2;
}

.book .page:nth-child(odd) {
  pointer-events: all;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  right: 0;
  border-radius: 0 4px 4px 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.15)), color-stop(10%, rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 10%);
}

.book .page:nth-child(odd):hover {
  -webkit-transform: rotateY(-15deg);
          transform: rotateY(-15deg);
}

.book .page:nth-child(odd):hover:before {
  background: rgba(0, 0, 0, 0.03);
}

.book .page:nth-child(odd):before {
  background: rgba(0, 0, 0, 0);
}

.book .page:nth-child(even) {
  pointer-events: none;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  left: 0;
  border-radius: 4px 0 0 4px;
  border-color: black;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.12)), color-stop(10%, rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0) 10%);
}

.book .page:nth-child(even):before {
  background: rgba(0, 0, 0, 0.2);
}

.book .page.grabbing {
  -webkit-transition: none;
  transition: none;
}

.book .page.flipped:nth-child(odd) {
  pointer-events: none;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.book .page.flipped:nth-child(odd):before {
  background: rgba(0, 0, 0, 0.2);
}

.book .page.flipped:nth-child(even) {
  pointer-events: all;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.book .page.flipped:nth-child(even):hover {
  -webkit-transform: rotateY(15deg);
          transform: rotateY(15deg);
}

.book .page.flipped:nth-child(even):hover:before {
  background: rgba(0, 0, 0, 0.03);
}

.book .page.flipped:nth-child(even):before {
  background: rgba(0, 0, 0, 0);
}

*,
* :before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page:nth-child(odd) {
  background-position: right top;
}

.Rented {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Rented .button-bar {
  height: calc(100vh - 30px);
  width: 20%;
  background-color: antiquewhite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Rented .button-bar .button-g {
  height: 50%;
  width: 50%;
  background-color: #2835e9;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.Rented .button-bar .button-g .tittle {
  height: 20%;
  width: 100%;
  background-color: #4fe928;
  font-size: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Rented .button-bar .button-g .lease-box {
  height: 20%;
  width: 100%;
  background-color: #e9289f;
  font-size: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Rented .button-bar .button-g .lease-box .text-box {
  width: 80%;
  background-color: chocolate;
  line-height: 36px;
  font-size: 30px;
  text-align: start;
  margin: auto;
}

.Rented .photo-R {
  height: calc(100vh - 30px);
  width: 80%;
  background-color: #e95f28;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Rented .photo-R .photo {
  height: 80%;
  width: 100%;
  background-color: #8c28e9;
  /* ---輪播CSS--- */
}

.Rented .photo-R .photo .swiper-container {
  width: 100%;
  height: 100%;
}

.Rented .photo-R .photo .swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #a74444;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Rented .photo-R .photo .swiper-container .swiper-pagination-bullet {
  width: 30px;
  height: 30px;
  background-color: #d89696;
}

.Rented footer {
  width: 100%;
  height: 30px;
  background-color: #b15821;
  margin: auto;
  color: #f7f8f8;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
}

#apple_effect {
  width: 100%;
  height: 10000vh;
  background-color: #ebe3d4;
  position: relative;
}

#apple_effect .parallax_window {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

#apple_effect .parallax_window .effect_box {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#apple_effect .parallax_window .effect_box .footer {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-color: rgba(177, 88, 33, 0.1);
  height: 42px;
  color: #595757;
  text-align: center;
  line-height: 42px;
  z-index: 10;
}

#apple_effect .parallax_window .effect_box .About {
  padding: 50px;
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#apple_effect .parallax_window .effect_box .About-03 {
  padding: 50px;
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#apple_effect .parallax_window .effect_box .about-title {
  margin-top: 15%;
  width: 50%;
  font-size: 40px;
  height: 60px;
  line-height: 60px;
  color: #673a1b;
  text-align: left;
}

#apple_effect .parallax_window .effect_box .about-text {
  width: 50%;
  font-size: 24px;
  text-align: left;
}

#apple_effect .parallax_window .effect_box .about-text-5-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#apple_effect .parallax_window .effect_box .about-text-5-team .color-gray {
  width: 8%;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #b5b5b6;
  margin-left: 10px;
}

#apple_effect .parallax_window .effect_box .about-text-5-team .about-text-5-text {
  width: 90%;
  color: #231815;
  height: 30px;
  line-height: 30px;
}

#apple_effect .parallax_window .effect_box .about-2-text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  text-align: left;
}

#apple_effect .parallax_window .effect_box .about-2-text .text-wrap {
  padding: 0 10px;
  width: 50%;
}

#apple_effect .parallax_window .effect_box .About-02 {
  padding: 50px;
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#apple_effect .parallax_window .effect_box .About-02 .about-title-02 {
  margin-top: 0;
  width: 15%;
  font-size: 40px;
  height: 60px;
  line-height: 60px;
  color: #673a1b;
  text-align: left;
}

#apple_effect .parallax_window .effect_box .about-3-text {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  text-align: left;
}

#apple_effect .parallax_window .effect_box .about-3-text .text-3-wrap {
  width: 37.5%;
  /* The actual timeline (the vertical ruler) */
  /* Media queries - Responsive timeline on screens less than 600px wide */
}

#apple_effect .parallax_window .effect_box .about-3-text .text-3-wrap .timeline {
  position: relative;
  width: 100%;
  color: #231815;
  /* Container around time-content */
  /* The circles on the timeline */
  /* Place the time-container to the left */
  /* Place the time-container to the right */
  /* Add arrows to the right time-container (pointing left) */
  /* Fix the circle for time-containers on the right side */
}

#apple_effect .parallax_window .effect_box .about-3-text .text-3-wrap .timeline .time-container {
  padding: 10px 40px;
  position: relative;
}

#apple_effect .parallax_window .effect_box .about-3-text .text-3-wrap .timeline .time-container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #6a3906;
  border: 4px solid #ff9f55;
  top: 40px;
  border-radius: 50%;
  z-index: 1;
  /* The actual time-content */
}

#apple_effect .parallax_window .effect_box .about-3-text .text-3-wrap .timeline .time-container::after .time-content {
  width: 100%;
  padding: 20px 20px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

#apple_effect .parallax_window .effect_box .about-3-text .text-3-wrap .timeline .right {
  left: 50%;
}

#apple_effect .parallax_window .effect_box .about-3-text .text-3-wrap .timeline .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #6a3906;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

#apple_effect .parallax_window .effect_box .about-3-text .text-3-wrap .timeline .right::after {
  left: -16px;
}

#apple_effect .parallax_window .effect_box .about-3-text .text-3-wrap .timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #6a3906;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

@media screen and (max-width: 600px) {
  #apple_effect .parallax_window .effect_box .about-3-text .text-3-wrap {
    /* Place the timelime to the left */
    /* Full-width time-containers */
    /* Make sure that all arrows are pointing leftwards */
    /* Make sure all circles are at the same spot */
    /* Make all right time-containers behave like the left ones */
  }
  #apple_effect .parallax_window .effect_box .about-3-text .text-3-wrap .timeline::after {
    left: 31px;
  }
  #apple_effect .parallax_window .effect_box .about-3-text .text-3-wrap .time-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  #apple_effect .parallax_window .effect_box .about-3-text .text-3-wrap .time-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  #apple_effect .parallax_window .effect_box .about-3-text .text-3-wrap .left::after,
  #apple_effect .parallax_window .effect_box .about-3-text .text-3-wrap .right::after {
    left: 15px;
  }
  #apple_effect .parallax_window .effect_box .about-3-text .text-3-wrap .right {
    left: 0%;
  }
}

#apple_effect .parallax_window .effect_box .sec {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#apple_effect .parallax_window .effect_box .sec-01 {
  background-image: url("../img/插圖/關於十鼓-修正.jpg");
}

#apple_effect .parallax_window .effect_box .sec-02 {
  background-image: url("../img/主頁背景/關於十鼓-背景.jpg");
}

#apple_effect .parallax_window .effect_box .sec-03 {
  background-image: url("../img/主頁背景/沿革-背景.jpg");
}

#apple_effect .parallax_window .effect_box .sec-04 {
  background-image: url("../img/主頁背景/發展年表-背景.jpg");
}

#apple_effect .parallax_window .effect_box .sec-05 {
  background-image: url("../img/主頁背景/核心價值-背景.jpg");
}
/*# sourceMappingURL=TenDrum.css.map */