* {
    box-sizing: border-box;
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}
a {
    text-decoration: none;
    color: unset;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
}

html,
body {
    position: relative;
    height: 100%;
}
.display-none{
    display: none;
}

footer{
    width: 100%;
    height: 30px;
    background-color: #B15821;
    margin: auto;
    color: #F7F8F8;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
}
@import "./TenDrum";
@import "./index";
@import "./hamberger";

@import "./About";
@import "./News";
@import "./Facility";
@import "./Drum";
@import "./Information";
@import "./Rented";
@include Index();
@include hamberger();
@include about01();
@include news();
@include Facility();
@include Drum();
@include Information();
@include Rented();
