@mixin Index() {
    body{
        background-color: #EFE5CB;
    }
    .Mask {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100vh;
        background-color: rgba(105, 105, 105, 1);
    }
    .Nav {
        width: 100%;
        
        // background-color: thistle;
        display: flex;
        justify-content: space-between;

        .Logo-pic   {
            width: 30%;
        }
        .Menu-group {
            width: 60%;
            
            text-align: center;
            font-size: 20px;
            line-height: 20px;
            display: flex;
            justify-items: flex-end;
            padding-top: 20px;
            padding-bottom: 20px;

            text-transform: uppercase;
            text-rendering: optimizeLegibility;
            .index-btn {
                
                width: 100%;                
                transition: 1s;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .big-img{
        position: absolute;
        bottom: 0;
        background-image: url('./img/十鼓描圖-上色2版拷貝.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        min-height: 42vh;
    }
}
