* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: unset;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    
}

html,
body {
    position: relative;
    height: 100%;
}
@import "./TenDrum";
@import"./index";
@import"./hamberger";
@import"./About";
@include Index();
@include hamberger();
@include about();

