@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
}

.display-none {
  display: none;
}

footer {
  width: 100%;
  height: 30px;
  background-color: #B15821;
  margin: auto;
  color: #F7F8F8;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
}

body {
  background-color: #efe5cb;
}

.Nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Nav .Logo-pic {
  width: 30%;
}

.Nav .Menu-group {
  width: 45%;
  margin-right: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-end;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

.Nav .Menu-group .index-btn {
  width: 100%;
}

.Nav .Menu-group .index-btn:hover {
  cursor: pointer;
}

@-webkit-keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.Nav .Menu-group .btn {
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  line-height: calc(50px);
  cursor: pointer;
  -moz-user-select: text;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
  background-color: #fff;
  color: #7f5f43;
  border: 2px solid #7f5f43;
  border-radius: 6px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.Nav .Menu-group .btn:-moz-focus-inner {
  padding: 0;
  border: 0;
}

.Nav .Menu-group .btn--stripe {
  overflow: hidden;
  position: relative;
}

.Nav .Menu-group .btn--stripe:after {
  content: "";
  display: block;
  height: 7px;
  width: 100%;
  background-image: repeating-linear-gradient(45deg, #7f5f43, #7f5f43 1px, transparent 2px, transparent 5px);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-top: 1px solid #7f5f43;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: 7px 7px;
}

.Nav .Menu-group .btn--stripe:hover {
  background-color: #7f5f43;
  color: #ffffff;
  border-color: #d3a53f;
}

.Nav .Menu-group .btn--stripe:hover:after {
  background-image: repeating-linear-gradient(45deg, #ffffff, #ffffff 1px, transparent 2px, transparent 5px);
  border-top: 1px solid #d3a53f;
  -webkit-animation: stripe-slide 12s infinite linear forwards;
          animation: stripe-slide 12s infinite linear forwards;
}

.big-img {
  position: absolute;
  bottom: 0;
  background-image: url("./img/十鼓描圖-上色2版拷貝.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 48vh;
}

.hamburger {
  padding: 10px;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hamburger .ham-ani {
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.hamburger .ham-ani .stick {
  width: 80px;
  height: 8px;
  border-radius: 4px;
  margin-bottom: 15px;
  background-color: #0b6c6d;
  display: inline-block;
}

.hamburger .ham-ani .stick:last-child {
  margin-bottom: 0px;
}

.hamburger .ham-ani .stick-1.open {
  -webkit-animation: stick-1-open 0.6s ease-out forwards;
          animation: stick-1-open 0.6s ease-out forwards;
}

.hamburger .ham-ani .stick-2.open {
  -webkit-animation: stick-2-open 0.6s linear forwards;
          animation: stick-2-open 0.6s linear forwards;
}

.hamburger .ham-ani .stick-3.open {
  -webkit-animation: stick-3-open 0.6s linear forwards;
          animation: stick-3-open 0.6s linear forwards;
}

@-webkit-keyframes stick-1-open {
  0% {
    width: 80px;
  }
  40% {
    background-color: #0b6c6d;
    width: 8px;
    -webkit-transform: translate(40px, 0px);
            transform: translate(40px, 0px);
  }
  75% {
    width: 8px;
    -webkit-transform: translate(40px, -50px);
            transform: translate(40px, -50px);
    -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 1);
            animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }
  100% {
    background-color: #0b6c6d;
    width: 8px;
    -webkit-transform: translate(35px, 46px);
            transform: translate(35px, 46px);
  }
}

@keyframes stick-1-open {
  0% {
    width: 80px;
  }
  40% {
    background-color: #0b6c6d;
    width: 8px;
    -webkit-transform: translate(40px, 0px);
            transform: translate(40px, 0px);
  }
  75% {
    width: 8px;
    -webkit-transform: translate(40px, -50px);
            transform: translate(40px, -50px);
    -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 1);
            animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }
  100% {
    background-color: #0b6c6d;
    width: 8px;
    -webkit-transform: translate(35px, 46px);
            transform: translate(35px, 46px);
  }
}

@-webkit-keyframes stick-2-open {
  80% {
    background-color: #0b6c6d;
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    background-color: #0b6c6d;
    -webkit-transform: translate(8px, 0px) rotate(40deg);
            transform: translate(8px, 0px) rotate(40deg);
  }
}

@keyframes stick-2-open {
  80% {
    background-color: #0b6c6d;
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    background-color: #0b6c6d;
    -webkit-transform: translate(8px, 0px) rotate(40deg);
            transform: translate(8px, 0px) rotate(40deg);
  }
}

@-webkit-keyframes stick-3-open {
  80% {
    background-color: #0b6c6d;
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    background-color: #0b6c6d;
    -webkit-transform: translate(8px, -23px) rotate(-40deg);
            transform: translate(8px, -23px) rotate(-40deg);
  }
}

@keyframes stick-3-open {
  80% {
    background-color: #0b6c6d;
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    background-color: #0b6c6d;
    -webkit-transform: translate(8px, -23px) rotate(-40deg);
            transform: translate(8px, -23px) rotate(-40deg);
  }
}

.hamburger .stick-1.close {
  width: 8px;
  -webkit-transform: translate(27px, 26px);
          transform: translate(27px, 26px);
  -webkit-animation: stick-1-close 0.6s ease-out forwards;
          animation: stick-1-close 0.6s ease-out forwards;
}

.hamburger .stick-2.close {
  -webkit-transform: translate(0px, 0px) rotate(40deg);
          transform: translate(0px, 0px) rotate(40deg);
  -webkit-animation: stick-2-close 0.6s ease-out forwards;
          animation: stick-2-close 0.6s ease-out forwards;
}

.hamburger .stick-3.close {
  -webkit-transform: translate(0px, -23px) rotate(-40deg);
          transform: translate(0px, -23px) rotate(-40deg);
  -webkit-animation: stick-3-close 0.6s ease-out forwards;
          animation: stick-3-close 0.6s ease-out forwards;
}

@-webkit-keyframes stick-1-close {
  0%,
  70% {
    width: 0px;
  }
  100% {
    width: 80px;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes stick-1-close {
  0%,
  70% {
    width: 0px;
  }
  100% {
    width: 80px;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes stick-2-close {
  0% {
    background-color: #0b6c6d;
    width: 80px;
  }
  20% {
    background-color: #0b6c6d;
    width: 8px;
    -webkit-transform: translate(0, 0px) rotate(40deg);
            transform: translate(0, 0px) rotate(40deg);
  }
  40% {
    background-color: #0b6c6d;
    width: 0px;
  }
  65% {
    -webkit-transform: translate(0, -70px);
            transform: translate(0, -70px);
    -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 1);
            animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }
  80% {
    width: 0px;
  }
  100% {
    width: 80px;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes stick-2-close {
  0% {
    background-color: #0b6c6d;
    width: 80px;
  }
  20% {
    background-color: #0b6c6d;
    width: 8px;
    -webkit-transform: translate(0, 0px) rotate(40deg);
            transform: translate(0, 0px) rotate(40deg);
  }
  40% {
    background-color: #0b6c6d;
    width: 0px;
  }
  65% {
    -webkit-transform: translate(0, -70px);
            transform: translate(0, -70px);
    -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 1);
            animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }
  80% {
    width: 0px;
  }
  100% {
    width: 80px;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@-webkit-keyframes stick-3-close {
  0% {
    background-color: #0b6c6d;
    width: 80px;
  }
  20% {
    background-color: #0b6c6d;
    width: 8px;
    -webkit-transform: translate(0, -23px) rotate(-40deg);
            transform: translate(0, -23px) rotate(-40deg);
  }
  40% {
    background-color: #0b6c6d;
  }
  65% {
    -webkit-transform: translate(0, -93px);
            transform: translate(0, -93px);
    -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 1);
            animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }
  90% {
    width: 8px;
  }
  100% {
    width: 80px;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes stick-3-close {
  0% {
    background-color: #0b6c6d;
    width: 80px;
  }
  20% {
    background-color: #0b6c6d;
    width: 8px;
    -webkit-transform: translate(0, -23px) rotate(-40deg);
            transform: translate(0, -23px) rotate(-40deg);
  }
  40% {
    background-color: #0b6c6d;
  }
  65% {
    -webkit-transform: translate(0, -93px);
            transform: translate(0, -93px);
    -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 1);
            animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }
  90% {
    width: 8px;
  }
  100% {
    width: 80px;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

.hamburger .ham-menu {
  color: #0b6c6d;
  text-align: center;
  font-size: 20px;
  font-family: "Fredericka the Great", cursive;
}

.btn-groupxxx {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #efe5cb;
  opacity: 1;
  z-index: 49;
  display: none;
}

.btn-groupxxx.active {
  display: block;
}

.btn-groupxxx .btnsss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-groupxxx .btnsss .icons {
  width: 10%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
}

.btn-groupxxx .btnsss .icons .icon {
  width: 100%;
}

.btn-groupxxx .btnsss .btns {
  width: 85%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}

.btn-groupxxx .btnsss .btns .btn-index {
  font-size: 48px;
  margin-bottom: 30px;
  color: #595757;
  font-family: "Fredericka the Great", cursive;
}

.btn-groupxxx .btnsss .btns .btn {
  padding: 20px;
  width: 100%;
  font-weight: bolder;
  line-height: 50%;
  text-align: center;
}

.btn-groupxxx .btnsss .btns .btn:hover {
  background-color: #d4a63f;
}

.btn-groupxxx .btnsss .btns .btn h1 {
  color: #4d483d;
}

.btn-groupxxx .btnsss .infor {
  width: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 150px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
}

.btn-groupxxx .btnsss .infor .top {
  width: 100%;
  text-align: center;
}

.btn-groupxxx .btnsss .infor .top .lan {
  width: 35px;
  height: 35px;
  margin: 10px 0;
  font-size: 16px;
  text-align: center;
  line-height: 35px;
}

.btn-groupxxx .btnsss .infor .top .lan:hover {
  cursor: pointer;
}

.btn-groupxxx .btnsss .infor .top .en {
  color: #d4a63f;
  border: 1px solid #d4a63f;
  font-family: "Fredericka the Great", cursive;
}

.btn-groupxxx .btnsss .infor .top .cn {
  color: #595757;
  border: 1px solid #595757;
}

.btn-groupxxx .btnsss .bott {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

#fullpage .section {
  width: 100%;
  height: 100vh;
  text-align: center;
}

#fullpage .section .About {
  width: 100%;
}

#fullpage .section .About .en-title .About-t {
  font-size: 150px;
  font-family: "Fredericka the Great", cursive;
  color: #f7f8f8;
}

#fullpage .section .About .en-title u {
  font-size: 30px;
}

#fullpage .section .About .en-title .line01 {
  color: #b15821;
  font-size: 30px;
}

#fullpage .section .About .cn-title {
  margin-left: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 120px;
  color: #f7f8f8;
}

#fullpage .section .About .cn-title .big-size {
  font-size: 150px;
}

#fullpage .section .About .cn-title .line02 {
  color: #0b6c6d;
  font-size: 30px;
}

#fullpage .section .About .cn-white {
  color: #f7f8f8;
}

#fullpage .section .about-text-bacimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#fullpage .section .about-text-bacimg .about-title {
  width: 75%;
  font-size: 50px;
  line-height: 80px;
  margin-left: 55%;
  margin-top: 9%;
}

#fullpage .section .about-text-bacimg .about-text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 24px;
  text-align: left;
}

#fullpage .section .about-text-bacimg .about-text .about-con {
  margin-top: 10%;
  width: 40%;
}

#fullpage .section .about-text-bacimg .about-2-text {
  width: 40%;
  margin-top: 0;
  margin-bottom: 150px;
  margin-left: 35%;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  text-align: left;
}

#fullpage .section .about-text-bacimg .about-2-text .text-wrap {
  padding: 0 10px;
  width: 50%;
}

#fullpage .section .about-text-bacimg .text-color-F7F8F8 {
  color: #f7f8f8;
}

#fullpage .section .intro-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#fullpage .section .intro-container .intro-title {
  width: 20%;
  font-size: 76px;
  height: 100px;
  padding: 1px;
  border-bottom: 1px solid #b15821;
}

#fullpage .section .intro-container .con-color-1 {
  background-color: #0b6c6d;
}

#fullpage .section .intro-container .con-color-2 {
  background: #D4A63F;
}

#fullpage .section .intro-container .intro-con {
  text-align: left;
  width: 50%;
  height: 50vh;
  border-radius: 10%;
  padding: 20px;
}

#fullpage .section .intro-container .intro-con .intro-con-img {
  margin: auto;
  width: 95%;
  height: 150px;
}

#fullpage .section .intro-container .intro-con .img-self-1 {
  width: 95%;
  background-color: #d0b975;
}

#fullpage .section .intro-container .intro-con .intro-con-box .intro-con-box-title {
  font-size: 24px;
}

#fullpage .section .intro-container .intro-con .intro-con-box .intro-con-box-text {
  font-size: 20px;
}

#fullpage .section .intro-container .intro-con .intro-con-box .intro-con-icon-dis {
  margin-top: 10%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#fullpage .section .intro-container .intro-con .intro-con-box .intro-con-icon-dis .intro-con-icon {
  width: 10%;
  height: 30px;
  font-size: 20px;
  color: #f7f8f8;
  line-height: 30px;
  text-align: center;
  background: #d4a63f;
  border-radius: 10px;
}

#fullpage .section .sec {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#fullpage .sec-00 {
  background-image: url("./img/關於背景1002試用-小-02.svg");
}

#fullpage .sec-01 {
  background-color: #d4a63f;
}

#fullpage .sec-01 .sec-01-1 {
  background-image: url("./img/關於背景1002試用-小-04_工作區域4.svg");
}

#fullpage .sec-02 {
  background-color: #e9c37c;
}

#fullpage .sec-02 .sec-02-1 {
  background-image: url("./img/設計稿 降轉10-02-沿革_工作區域6.svg");
}

#fullpage .sec-03 {
  background-color: #d0b975;
}

#fullpage .sec-03 .sec-03-1 {
  background-image: url("./img/設計稿 降轉10-02-核心價值_工作區域7.svg");
}

#fullpage .sec-04 {
  background-color: #e9c37c;
}

#fullpage .sec-05 {
  background-color: #efe5cb;
}

#fullpage .sec-05 .sec-05-00 {
  background-image: url("./img/關於背景1002試用-小-06_工作區域6.svg");
}

.New {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #efe5cb;
}

.New .new-title {
  margin-left: 10px;
  padding: 25px;
  width: 20%;
}

.New .new-title .new-title-all {
  font-size: 54px;
  font-weight: bold;
  margin-bottom: 60px;
}

.New .new-title .new-title01 {
  margin-top: 10%;
  padding-left: 10px;
  font-size: 26px;
  color: #b15821;
  border-bottom: 1px solid #b15821;
}

.New .new-title .new-title01:hover {
  cursor: pointer;
}

.New .new-title .act {
  border-bottom: none;
  color: #231815;
}

.New .new-contexts {
  width: 80%;
  height: calc(100vh - 30px);
}

.New .new-contexts .new-context {
  display: none;
}

.New .new-contexts .new-context .new-contain {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.New .new-contexts .new-context .new-contain .fas.fa-circle {
  font-size: 12px;
  line-height: 100px;
  color: #0b6c6d;
  padding: 0 5px;
}

.New .new-contexts .new-context .new-contain .new-context-title {
  width: 50%;
  margin-bottom: 10%;
  font-size: 36px;
  font-weight: bold;
  color: #3E3A39;
  text-align: center;
  border-bottom: 1px solid #727171;
  height: 50px;
}

.New .new-contexts .new-context .new-contain .new-context-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.New .new-contexts .new-context .new-contain .new-context-group .news {
  height: auto;
  padding: 25px;
  margin: 1%;
  width: calc(33.33% - 5%);
  border: 1px solid #b15821;
}

.New .new-contexts .new-context .new-contain .new-context-group .news .new-img {
  width: 90%;
  margin-bottom: 10px;
}

.New .new-contexts .new-context .new-contain .new-context-group .news .new-time {
  margin-bottom: 10px;
  font-size: 14px;
}

.New .new-contexts .new-context .new-contain .new-context-group .news .new-name {
  width: 90%;
  font-size: 18px;
}

.New .new-contexts .new-context .new-contain .new-context-group .news .new-mores {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.New .new-contexts .new-context .new-contain .new-context-group .news .new-mores .new-more {
  width: 30%;
  font-family: "Fredericka the Great", cursive;
  font-size: 20px;
  color: #f7f8f8;
  background: #b15821;
  border-radius: 10px;
  text-align: center;
  height: 30px;
  line-height: 30px;
}

.New .new-contexts .new-context .new-contain .new-context-group .news .new-mores .new-more:hover {
  cursor: pointer;
}

.New .new-contexts .actt {
  display: block;
}
/*# sourceMappingURL=TenDrum.css.map */