* {
    box-sizing: border-box;
    font-family: "Fredericka the Great", cursive, "Noto Sans HK", 微軟正黑體, sans-serif;
}
a {
    text-decoration: none;
    color: unset;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
}

html,
body {
    position: relative;
    height: 100%;
}
@import "./TenDrum";
@import "./index";
@import "./hamberger";
@import "./About";

@import "./News";
@import "./Facility";
@import "./Drum";
@import "./Information";
@import "./Rented";
@include Index();
@include hamberger();
@include about();
@include news();
@include Facility();
@include Drum();
@include Information();
@include Rented();
