@mixin About01() {
  ::-webkit-scrollbar {
    display: none;
  }
  .context {
    height: calc(1000vh + 30px);
    background-attachment: fixed;

    .Sec01 {
      width: 100%;
      height: 100vh;
      overflow: hidden;
      background: #ebe3d4;
      background-image: url("../img/插圖/飛人和雲.png");
      background-position: center;
      // background-repeat: no-repeat;
      .About {
        // background-image: url("../img/插圖/兩人尬鼓.png");
        // background-position: center;
        // background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        .en-title {
          width: 100%;
          text-align: center;
          font-size: 90px;
          font-family: "Fredericka the Great", cursive;
          color: #6a3906;
        }
        .cn-title-group {
          .cn-title {
            width: 100%;
            font-size: 60px;
            text-align: center;
            color: #6a3906;
            display: flex;
            align-items: baseline;

            .big-size {
              font-size: 90px;
            }
          }
        }
      }
      ///關於十鼓及園區介紹樣式///
      .about-title {
        width: 75%;
        font-size: 40px;
        line-height: 80px;
        margin-left: 55%;
        margin-top: 9%;
      }
      ///簡介內容///
      .about-text-bacimg {
        display: flex;
        justify-content: center;
        align-content: center;

        .about-text {
          width: 60%;
          // flex-wrap: wrap;
          font-size: 24px;
          text-align: left;
          margin-top: 10%;
        }

        ///沿革內容調整完成///
        .about-2-text {
          width: 40%;
          margin-top: 0;
          margin-bottom: 150px;
          margin-left: 10%;
          margin-top: 5%;
          display: flex;

          font-size: 20px;
          text-align: left;

          .text-wrap {
            padding: 0 10px;
            width: 50%;
          }
        }
        ///沿革內容調整完成///
      }
      .intro-container {
        width: 100%;
        display: flex;

        .intro-title {
          width: 20%;
          font-size: 76px;
          height: 100px;
          padding: 1px;
          border-bottom: 1px solid #b15821;
        }
        .con-color-1 {
          background-color: #0b6c6d;
        }
        .con-color-2 {
          background: #d4a63f;
        }
        .intro-con {
          text-align: left;
          width: 50%;
          height: 50vh;

          border-radius: 10%;
          padding: 20px;

          .intro-con-img {
            margin: auto;
            width: 95%;
            height: 150px;
          }
          .img-self-1 {
            width: 95%;
            background-color: #d0b975;
          }
          // .img-self-2 {
          // }
          .intro-con-box {
            .intro-con-box-title {
              font-size: 24px;
            }
            .intro-con-box-text {
              font-size: 20px;
            }
            .intro-con-icon-dis {
              margin-top: 10%;
              width: 100%;
              display: flex;
              justify-content: flex-end;

              .intro-con-icon {
                width: 10%;
                height: 30px;

                font-size: 20px;
                color: #f7f8f8;
                line-height: 30px;

                text-align: center;
                background: #d4a63f;
                border-radius: 10px;
              }
            }
          }
        }
      }
    }
  }
  footer {
    position: absolute;
    top: calc(1000vh - 30px);
  }
}
