body {
  background: #efe5cb;
}

.ham-ani {
  width: 80px;
  height: 80px;
  padding: 10px;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.ham-ani .stick {
  width: 80px;
  height: 8px;
  border-radius: 4px;
  margin-bottom: 15px;
  background-color: #0b6c6d;
  display: inline-block;
}

.ham-ani .stick:last-child {
  margin-bottom: 0px;
}

.ham-ani .stick-1.open {
  -webkit-animation: stick-1-open 0.6s ease-out forwards;
          animation: stick-1-open 0.6s ease-out forwards;
}

.ham-ani .stick-2.open {
  -webkit-animation: stick-2-open 0.6s linear forwards;
          animation: stick-2-open 0.6s linear forwards;
}

.ham-ani .stick-3.open {
  -webkit-animation: stick-3-open 0.6s linear forwards;
          animation: stick-3-open 0.6s linear forwards;
}

@-webkit-keyframes stick-1-open {
  0% {
    width: 80px;
  }
  40% {
    background-color: #0B6C6D;
    width: 8px;
    -webkit-transform: translate(40px, 0px);
            transform: translate(40px, 0px);
  }
  75% {
    width: 8px;
    -webkit-transform: translate(40px, -50px);
            transform: translate(40px, -50px);
    -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 1);
            animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }
  100% {
    background-color: #0B6C6D;
    width: 8px;
    -webkit-transform: translate(35px, 46px);
            transform: translate(35px, 46px);
  }
}

@keyframes stick-1-open {
  0% {
    width: 80px;
  }
  40% {
    background-color: #0B6C6D;
    width: 8px;
    -webkit-transform: translate(40px, 0px);
            transform: translate(40px, 0px);
  }
  75% {
    width: 8px;
    -webkit-transform: translate(40px, -50px);
            transform: translate(40px, -50px);
    -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 1);
            animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }
  100% {
    background-color: #0B6C6D;
    width: 8px;
    -webkit-transform: translate(35px, 46px);
            transform: translate(35px, 46px);
  }
}

@-webkit-keyframes stick-2-open {
  80% {
    background-color: #0b6c6d;
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    background-color: #0B6C6D;
    -webkit-transform: translate(8px, 0px) rotate(40deg);
            transform: translate(8px, 0px) rotate(40deg);
  }
}

@keyframes stick-2-open {
  80% {
    background-color: #0b6c6d;
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    background-color: #0B6C6D;
    -webkit-transform: translate(8px, 0px) rotate(40deg);
            transform: translate(8px, 0px) rotate(40deg);
  }
}

@-webkit-keyframes stick-3-open {
  80% {
    background-color: #0b6c6d;
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    background-color: #0B6C6D;
    -webkit-transform: translate(8px, -23px) rotate(-40deg);
            transform: translate(8px, -23px) rotate(-40deg);
  }
}

@keyframes stick-3-open {
  80% {
    background-color: #0b6c6d;
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    background-color: #0B6C6D;
    -webkit-transform: translate(8px, -23px) rotate(-40deg);
            transform: translate(8px, -23px) rotate(-40deg);
  }
}

.stick-1.close {
  width: 8px;
  -webkit-transform: translate(27px, 26px);
          transform: translate(27px, 26px);
  -webkit-animation: stick-1-close 0.6s ease-out forwards;
          animation: stick-1-close 0.6s ease-out forwards;
}

.stick-2.close {
  -webkit-transform: translate(0px, 0px) rotate(40deg);
          transform: translate(0px, 0px) rotate(40deg);
  -webkit-animation: stick-2-close 0.6s ease-out forwards;
          animation: stick-2-close 0.6s ease-out forwards;
}

.stick-3.close {
  -webkit-transform: translate(0px, -23px) rotate(-40deg);
          transform: translate(0px, -23px) rotate(-40deg);
  -webkit-animation: stick-3-close 0.6s ease-out forwards;
          animation: stick-3-close 0.6s ease-out forwards;
}

@-webkit-keyframes stick-1-close {
  0%,
  70% {
    width: 0px;
  }
  100% {
    width: 80px;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes stick-1-close {
  0%,
  70% {
    width: 0px;
  }
  100% {
    width: 80px;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes stick-2-close {
  0% {
    background-color: #0B6C6D;
    width: 80px;
  }
  20% {
    background-color: #0B6C6D;
    width: 8px;
    -webkit-transform: translate(0, 0px) rotate(40deg);
            transform: translate(0, 0px) rotate(40deg);
  }
  40% {
    background-color: #0b6c6d;
    width: 0px;
  }
  65% {
    -webkit-transform: translate(0, -70px);
            transform: translate(0, -70px);
    -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 1);
            animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }
  80% {
    width: 0px;
  }
  100% {
    width: 80px;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes stick-2-close {
  0% {
    background-color: #0B6C6D;
    width: 80px;
  }
  20% {
    background-color: #0B6C6D;
    width: 8px;
    -webkit-transform: translate(0, 0px) rotate(40deg);
            transform: translate(0, 0px) rotate(40deg);
  }
  40% {
    background-color: #0b6c6d;
    width: 0px;
  }
  65% {
    -webkit-transform: translate(0, -70px);
            transform: translate(0, -70px);
    -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 1);
            animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }
  80% {
    width: 0px;
  }
  100% {
    width: 80px;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@-webkit-keyframes stick-3-close {
  0% {
    background-color: #0B6C6D;
    width: 80px;
  }
  20% {
    background-color: #0B6C6D;
    width: 8px;
    -webkit-transform: translate(0, -23px) rotate(-40deg);
            transform: translate(0, -23px) rotate(-40deg);
  }
  40% {
    background-color: #0b6c6d;
  }
  65% {
    -webkit-transform: translate(0, -93px);
            transform: translate(0, -93px);
    -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 1);
            animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }
  90% {
    width: 8px;
  }
  100% {
    width: 80px;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes stick-3-close {
  0% {
    background-color: #0B6C6D;
    width: 80px;
  }
  20% {
    background-color: #0B6C6D;
    width: 8px;
    -webkit-transform: translate(0, -23px) rotate(-40deg);
            transform: translate(0, -23px) rotate(-40deg);
  }
  40% {
    background-color: #0b6c6d;
  }
  65% {
    -webkit-transform: translate(0, -93px);
            transform: translate(0, -93px);
    -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 1);
            animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }
  90% {
    width: 8px;
  }
  100% {
    width: 80px;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

.btn-groupxxx {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #efe5cb;
  display: none;
}

.btn-groupxxx.active {
  display: block;
}

.btn-groupxxx .btnsss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-groupxxx .btnsss .icons {
  width: 10%;
  height: calc(100vh - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
}

.btn-groupxxx .btnsss .icons .icon {
  width: 100%;
}

.btn-groupxxx .btnsss .btns {
  width: 85%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}

.btn-groupxxx .btnsss .btns #btn-index {
  font-size: 45px;
}

.btn-groupxxx .btnsss .btns .btn {
  padding: 30px;
  width: 100%;
  color: #4d483d;
  font-weight: bolder;
  line-height: 50%;
  text-align: center;
  font-size: 40px;
}

.btn-groupxxx .btnsss .btns .btn:hover {
  background-color: #d4a63f;
}

.btn-groupxxx .btnsss .infor {
  width: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 95px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
}

.btn-groupxxx .btnsss .infor .top {
  width: 100%;
  text-align: right;
}

.btn-groupxxx .btnsss .bott {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
/*# sourceMappingURL=ham-test.css.map */